<div>
  <h2>Before you create your first Monitor you have to install a Bot in the server you want to check/automate from</h2><br/>
  Click <a href="#" style="color:#64b1f3" id="show-installer" data-hook="show-installer">HERE</a> to get the step by step instructions to install a Bot on Linux and Windows operating systems</h2>
</div>
