<section>
  <div style="text-align:center; font-size:16px;">
    <h2>You don't have any Monitor</h2>
    <h2>Let's create your first Monitor! Click <a href="/profile" style="color:#64b1f3">HERE</a> to get step by step instruction to install the Agent on Linux and Windows operating system</h2>
  </div>
</section>
