<section>
  <div style="text-align:center; font-size:16px;">
    <h2>You don't have any monitor nor agent installed.</h2>
    <h2>Click <a href="/profile" style="color:#64b1f3">HERE</a> to get step by step instruction to install the Agent on Linux and Windows operating system</h2>
  </div>
  <!--  <div class="main-status" style="cursor:default;">I Don't have any monitor to show.</div> -->
</section>
