<%- include ../partials/header.ejs %>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-user"></span> Add Local Account</h1>

	<!-- show any messages that come back with authentication -->
	<% if ( typeof(errors)!="undefined" && errors.length > 0) { %>
		<div class="alert alert-danger"><%= __(errors[0])  %></div>
	<% } %>

	<form action="/auth/local/connect" method="post">
		<div class="form-group">
			<label>Username</label>
            <input type="text" class="form-control" name="username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Connect Local</button>
	</form>

	<hr>

	<p><a href="/profile">Go back to profile</a></p>

</div>
</div>
</body>
</html>
