<body>
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><span class="fa fa-sign-in"></span> Invite user</h1>
      <!-- show any messages that come back with authentication -->
      <% if ( typeof(errors)!="undefined" && errors.length > 0) { %>
        <div class="alert alert-danger"><%= __(errors[0])  %></div>
      <% } %>
      <!-- LOGIN FORM -->
      <form id="inviteForm">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <label>Credential</label>
          <div>
            <select id="credential" class="form-control" name="credential" required>
              <option value=""> choose credential </option>
              <option value="viewer"> Viewer </option>
              <option value="user"> User </option>
              <option value="admin"> Admin </option>
            </select>
          </div>
        </div>
        <input type="hidden" value="<%= req.session.customer %>" name="customer" required/>
        <button type="submit" class="btn btn-warning btn-lg">Invite</button>
      </form>
      <hr>
    </div>
  </div>
</body>

<% block('scripts', '<script> $(document).ready(function(){ new InvitePageInit(); });</script>') %>
