<%- include ../partials/header.ejs %>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1><span class="fa fa-lock"></span> Hey, cuenta no permitida. <%= site.customer %> Authentication</h1>
		<p>Login o Registarse con:</p>
		<a href="/auth/google" class="btn btn-primary"><span class="fa fa-google-plus"></span> Google</a>
	</div>
</div>
</body>
</html>
