<p style="padding-top:15px">Remove template monitors and tasks from the following destination Bots?</p>
{{#each hosts}}
<strong>{{this}}</strong><br />
{{/each}}
<br />
<p><b>NO:</b> Only delete the template.</p>
<p><b>YES:</b> Delete the template and also delete the template monitors and tasks from the destination Bots.</p>
