<div>
  <p>This task was created from a <b>template</b>.</p>
  <p>Modifying this task will not deploy changes to the hosts that share this <b>template</b>.</p>
  <p>If you want to make these changes available to all the hosts, please create a new <b>template</b> from this host and add all the hostnames from the old template as destination hosts.</p>
</div>
