<div class="modal fade" id="user-agent">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Install agent</h4>
      </div>
      <div class="modal-body">
        <input data-hook="curl-agent" value="" style="width:90%; padding: 0px; margin-bottom: 10px">
        <button class="clipboard-btn" data-clipboard-target="[data-hook=curl-agent]">
          <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
        </button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->