<div class="modal fade" id="edit-customer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit customer details</h4>
      </div>
      <div class="modal-body">
        <form id="editCustomerForm" action="/customer" class="form-horizontal">
          <div class="form-group">
            <label for="emails" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <select data-hook="emails-edit" name="emails" multiple data-role="tagsinput"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea data-hook="description" name="description" class="form-control" id="description" placeholder="description"></textarea>
            </div>
          </div>

          <section>
            <h5>Configuration options</h5>
            <!--
            <div class="form-group">
              <label for="config" class="col-sm-2 control-label">Configuration</label>
              <div class="col-sm-10">
                <textarea data-hook="config" name="config" class="form-control" id="config" placeholder="json config"></textarea>
              </div>
            </div>
            -->
            <div class="form-group">
              <label for="elasticsearch" class="col-sm-2 control-label">Elastic Search (json)</label>
              <div class="col-sm-10">
                <textarea data-hook="elasticsearch" name="elasticsearch" class="form-control" placeholder="elastic search json config"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="kibana" class="col-sm-2 control-label">Kibana IFrame</label>
              <div class="col-sm-10">
                <input data-hook="kibana" name="kibana" class="form-control" placeholder="kibana iframe">
              </div>
            </div>
          </section>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button id="customerAction" type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div><!--.modal-foooter-->
    </div><!--.modal-content-->
  </div><!--.modal-dialog-->
</div><!--.modal-->
