.workflow-editor-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: [top-bar] 50px [graph] auto [bottom-bar] 40px [end];

  .fa {
    outline: solid red;
    min-width: 14px;
    min-height: 14px;
  }

  .top-bar {
    grid-row-start: top-bar;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    .container {
      display: inline-flex;
      flex-direction: row;
      width: fit-content;
    }
  }
  
  .graph-container {
    grid-row-start: graph;
    width: 100%;
    height: 100%;
  }

  .bottom-bar {
    grid-row-start: bottom-bar;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
  }

  .advanced-options-container {
    position: absolute;
    width: 480px;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: scroll;
    padding: 2px;
    background-color: white;
  }
}
