
.input-width-30 input {
  width: 30%;
}

.workflow-editor-container {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 2fr 1fr;

  .workflow-graphview-container {
    width: 100%;
    height: 100%;
  }
  .workflow-formview-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 2px;
  }
}