<section>
  <div data-hook="hidden-items" class="hidden-container">
    <div data-hook="hidden-items-container">
    </div>
  </div>
  <div data-hook="toggle-hidden-items" style="padding:5px 0px 5px 0px; margin: auto; width:100%; color:#fff; text-align:center; cursor:pointer;">
    <span class="btn btn-primary tooltiped fa fa-chevron-down" title="show/hide"></span>
  </div>
</section>
