<div class="loginBox">
  <h1>Activa tu cuenta en TheEye</h1>
  <div data-hook="activate-form-container">
    <h2>Ingresa tus credenciales</h2>
    <div data-hook="activate-form" class="activate-form"></div>
    <button data-hook="show-customer">Siguiente</button>
  </div>
  <div data-hook="customer-form-container">
    <h2>Escribe el nombre de tu organizaci&oacute;n</h2>
    <div data-hook="customer-form" class="customer-form"></div>
    <button data-hook="start-activate">Finalizar</button>
  </div>
</div>
