<div>
  <!-- menu -->
  <div data-hook="navbar-container"></div>
  <!-- Main  -->
  <div class="mainContainer">
    <div class="loginBox">
      <!-- show any messages that come back with authentication -->
      <!-- <% if ( typeof(errors)!="undefined" && errors.length > 0) { %>
      <div class="alert alert-danger"><%= __(errors[0])  %></div>
      <% } %> -->
      <h1>Activate theeye.io account</h1>
      <!--  no por ahora. <a href="#" class="sign facebook"><i class="fa fa-facebook"></i>Facebook</a>
      <a href="#" class="sign twitter"><i class="fa fa-twitter"></i>Twitter</a> -->
      <div data-hook="activate-form-container">

        <h2>Hello, thank you for registering.</h2>

        <div data-hook="activate-form" class="activate-form"></div>
        <button data-hook="show-customer">Next</button>
      </div>
      <div data-hook="customer-form-container">

        <h2>Please enter a name for your organization.</h2>

        <div data-hook="customer-form" class="customer-form"></div>
        <button data-hook="start-activate">Register</button>
      </div>
      <div class="or"><span>or</span></div>
      <a href="/auth/google" class="btn btn-lg btn-danger"><span class="fa fa-google-plus"></span>Google</a>
    </div>
  </div>
</div>
