<div class="loginBox">
  <h1>Activate theeye.io account</h1>
  <div data-hook="activate-form-container">
    <h2>Hello, thank you for registering.</h2>
    <div data-hook="activate-form" class="activate-form"></div>
    <button data-hook="show-customer">Next</button>
  </div>
  <div data-hook="customer-form-container">
    <h2>Please enter a name for your organization.</h2>
    <div data-hook="customer-form" class="customer-form"></div>
    <button data-hook="start-activate">Register</button>
  </div>
</div>
