
.loader-component {
  position:absolute;
  left:0;
  right:0;
  top:25%;
  bottom:45%;
  text-align: center;
}

.loader-component img {
  max-height:100%;
  max-width:100%;
}

.loader-component h3 {
  color: #FFF
}
