<form class="form-horizontal">
  <input type="hidden" name="monitor_type" value="process">
  <div class="form-group">
    <label for="description" class="col-sm-3 control-label">Give me a name</label>
    <div class="col-sm-9">
      <input data-hook="description" 
        type="text" 
        name="description" 
        class="form-control" 
        placeholder="eg: Nginx Service Check">
    </div>
  </div>
  <div class="form-group">
    <label for="looptime" class="col-sm-3 control-label">Check Interval (mins)</label>
    <div class="col-sm-9">
      <select data-hook="looptime" name="looptime" class="form-control">
        <option value="0" disabled selected><strong>select check interval</strong></option>
        <% looptimes.forEach(function(t) { %>
        <option value="<%= t.id %>"><strong><%= t.value %></strong></option>
        <% }); %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="pattern" class="col-sm-3 control-label">
      What should I search for? <br/><small>RegExp are allowed</small>
    </label>
    <div class="col-sm-9">
      <input data-hook="pattern" type="text" name="pattern" class="form-control" placeholder="eg: apache2 -k start Or termsvcs ">
    </div>
  </div>
</form>

