<li>
  <button class="btn btn-primary tooltiped" title="Edit Monitors" data-hook="edit">
    <i class="fa fa-edit" aria-hidden="true"></i>
  </button>
</li>
<li>
  <button class="btn btn-primary tooltiped" title="Host Stats" data-hook="stats">
    <i class="fa fa-bar-chart" aria-hidden="true"></i>
  </button>
</li>
<li>
  <button class="btn btn-primary tooltiped" title="Workflow" data-hook="workflow">
    <i class="fa fa-sitemap" aria-hidden="true"></i>
  </button>
</li>
<li>
  <button class="btn btn-primary tooltiped" title="Search related elements" data-hook="search" data-search="{{ model.attributes.name }}">
    <i class="fa fa-search" aria-hidden="true"></i>
  </button>
</li>
