<div class="loginBox">
  <h1>Activate theeye.io account</h1>
  <div data-hook="activate-form-container">
    <h2>Hello, thank you for registering.</h2>
    <div data-hook="activate-form" class="activate-form"></div>
    <button data-hook="start-activate">Register</button>
  </div>
  <div class="or"><span>or</span></div>
  <a href="/auth/google" class="btn btn-lg btn-danger"><span class="fa fa-google-plus"></span>Google</a>
</div>
