<div class="loginBox">
  {{!-- <h1>Activate TheEye Account</h1> --}}
  <h1>Activa tu cuenta en TheEye</h1>
  <div data-hook="activate-form-container">
    {{!-- <h2>Hello, thank you for registering.</h2> --}}
    <h2>Este es el &uacute;ltimo paso para completar el registro</h2>
    <div data-hook="activate-form" class="activate-form"></div>
    <button data-hook="start-activate">Reg&iacute;strese</button>
  </div>
</div>
