<div>
  <label for="hosts" class="col-sm-3 control-label"> {{ label }} </label>
  <div class="col-sm-9">
    <select data-hook="hosts"
      class="form-control select"
      title="hosts"
      name="hosts"
      multiple
      style="width:100%">
      <option></option>
    </select>
  </div>
  <span class="clear" style="clear: left;display: block;"></span>
</div>
