<div>
  <label for="{{ name }}" class="col-sm-3 control-label" data-hook="label">
    {{ label }}
  </label>
  <div data-hook="select-container" class="col-sm-9">
    <div>
      <select data-hook="{{ name }}" class="form-control select" name="{{ name }}" style="width:100%">
        <option></option>
      </select>
    </div>
  </div>
  <!-- <span class="clear" style="clear: left;display: block;"></span> <<<<< THIS TAG IS REQUIRED ONLY WHEN THIS TEMPLATE IS THE ONLY ELEMENT WITHIN A MODAL CONTAINER -->
</div>
