<div>
  <label for="users" class="col-sm-3 control-label">
    Copy from
    <span style="cursor:help"
      title="Select the monitor you want to copy"
      class="tooltiped glyphicon glyphicon-question-sign">
    </span>
  </label>
  <div class="col-sm-9">
    <div>
      <select data-hook="monitors"
        class="form-control select"
        title="monitors"
        name="monitors"
        style="width:100%">
        <option></option>
      </select>
    </div>
  </div>
  <!-- <span class="clear" style="clear: left;display: block;"></span> ONLY REQUIRED WHEN THIS IS THE ONLY INPUT WITHIN A MODAL -->
</div>
