<div>
  <label for="users" class="col-sm-3 control-label">
    Copy to Hosts
    <span style="cursor:help"
      title="Select the host where to copy"
      class="tooltiped glyphicon glyphicon-question-sign">
    </span>
  </label>
  <div class="col-sm-9">
    <div>
      <select data-hook="hosts"
        class="form-control select"
        title="hosts"
        name="hosts"
        multiple
        style="width:100%">
        <option></option>
      </select>
    </div>
  </div>
  <span class="clear" style="clear: left;display: block;"></span>
</div>
