<div>
  <label for="tasks" class="col-sm-3 control-label" data-hook="label">
    {{ label }}
  </label>
  <div class="col-sm-9">
    <div>
      <select data-hook="tasks"
        class="form-control select"
        title="tasks"
        name="tasks"
        style="width:100%">
        <option></option>
      </select>
    </div>
  </div>
  <!-- <span class="clear" style="clear: left;display: block;"></span> ONLY REQUIRED WHEN THIS IS THE ONLY INPUT WITHIN A MODAL -->
</div>
