<div>
  <label for="users" class="col-sm-3 control-label">{{title}}</label>
  <div class="col-sm-9">
    <div>
      <select data-hook="{{ name }}"
        class="form-control select"
        title="{{ title }}"
        name="{{ name }}"
        multiple
        style="width:100%">
      </select>
    </div>
  </div>
</div>
