<div class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="create-task"
  role="dialog"
  aria-labelledby="task-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Scripts runs via tasks. Lets create a task
        </h4>
      </div>
      <div class="modal-body">
        <% include task-form.ejs %>
      </div>
      <div class="modal-footer">
        <button type="button"
          class="btn btn-default"
          data-dismiss="modal">
          Close
        </button>
        <button type="submit"
          class="btn btn-primary">
          Submit
        </button>
      </div><!--.modal-foooter-->
    </div><!--.modal-content-->
  </div><!--.modal-dialog-->
</div><!--.modal-->
