<form id="scheduleTaskForm" action="#" class="form-horizontal">
  <div class="form-group">
    <label for="datetime" class="col-sm-3 control-label">When shall I run?</label>
    <div class="col-sm-9">
      <input type="text" name="datetime"
        class="form-control"
        placeholder="pick-a-date"
        title="You can use a 'human interval' expression like 'in 1 hour' or use de date/time picker">
    </div>
  </div>
  <div class="form-group">
    <label for="frequency" class="col-sm-3 control-label">Then repeat every:</label>
    <div class="col-sm-9">
      <input type="text" name="frequency"
        class="form-control tooltiped"
        placeholder="1 day"
        title="Use a 'human interval' expression like '1 hour', '3 days', '2 weeks', etc... Leave empty for no repetition">
    </div>
  </div>
  <!--
  <div class="form-group">
    <label for="target" class="col-sm-3 control-label">Where should it run?</label>
    <div class="col-sm-9">
      <label class="radio-inline">
        <input type="radio" name="target" data-hook="target" value="single-resource" checked=""> Single Host
      </label>
      <label class="radio-inline">
        <input type="radio" name="target" data-hook="target" value="multi-hosts"> Multiple Hosts
      </label>
    </div>
  </div>
  <div class="hidden-container" id="resource-selection" style="display:block;">
    <div class="form-group">
      <label for="hostname" class="col-sm-3 control-label">Host</label>
      <div class="col-sm-9">
        <select data-hook="hosts_id" ids="hosts_id" name="hosts_id" class="form-control hosts_id">
          <option disabled selected value></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="resource_id" class="col-sm-3 control-label">Attach to a Resource<br/><small>[optional]</small></label>
      <div class="col-sm-9">
        <select data-hook="resource_id" id="resource_id" name="resource_id" title="jump directly to the task from a resource" class="form-control tooltiped">
          <option disabled selected value></option>
        </select>
      </div>
    </div>
  </div>
  <div class="hidden-container" id="hosts-selection">
    <div class="form-group">
      <label for="hostname" class="col-sm-3 control-label">Hosts</label>
      <div class="col-sm-9">
        <select multiple data-hook="hosts_id" ids="hosts_id" name="hosts_id" class="form-control hosts_id">
        </select>
      </div>
    </div>
  </div>
  -->
</form>
