<div class="modal fade"
  id="schedule-delete-modal"
  role="dialog"
  tabindex="-1"
  aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Scheduled task details
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            This task was set to run on
          </div>
          <div class="col-sm-8">
            <strong class="startsOn">A large date</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            And set to repeat every
          </div>
          <div class="col-sm-8">
            <strong class="repeatEvery">A time lapse</strong>
          </div>
        </div>
        <div class="row hidden">
          <div class="col-sm-4">
            Last run was on
          </div>
          <div class="col-sm-8">
            <strong class="lastRun">A date</strong>
          </div>
        </div>
        <div class="row hidden">
          <div class="col-sm-4">
            Next run will be on
          </div>
          <div class="col-sm-8">
            <strong class="nextRun">A date</strong>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
          class="btn btn-danger deleteSchedule">
          Delete
        </button>
        <button type="button"
          class="btn btn-default"
          data-dismiss="modal">
          Close
        </button>
      </div><!--.modal-foooter-->
    </div><!--.modal-content-->
  </div><!--.modal-dialog-->
</div><!--.modal-->
