<div class="modal fade"
  id="schedule-task-modal"
  role="dialog"
  tabindex="-1"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="color:#304269">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Schedule task
        </h4>
      </div>
      <div class="modal-body">
        <% include scheduler-form.ejs %>
      </div>
      <div class="modal-footer">
        <button type="button"
          class="btn btn-default"
          data-dismiss="modal">
          Close
        </button>
        <button type="submit"
          class="btn btn-primary">
          Submit
        </button>
      </div><!--.modal-foooter-->
      <div class="taskScheduleCalendar" style="padding:10px"></div>
    </div><!--.modal-content-->
  </div><!--.modal-dialog-->
</div><!--.modal-->
