*~
*#
assets/**/bundles
assets/index.html
bower_components
config/env/*
config/env/production.js
coverage
*.csv
cypress/screenshots
*.dat
dist/bundles/
dist/index.html
.DS_Store
.DS_STORE
.idea
*.iml
lib-cov
*.log
misc
nbproject
.netbeans
newrelic*.log
.node_history
node_modules
npm-debug.log
npm-debug.log.*
*.orig
*.out
*.pid
.project
*.seed
.strong-pm
*.sublime-*
*.swo
*.swp
*.tgz
.tmp
*.xml
webpack-stats.json
config

versions
dist
s3Deploy.sh
static/components/
# deploy
deploy.*.sh
static/config.*.js
