[Unit]
Description=Theeye Agent
After=syslog.target
Documentation=man:foo(1)

[Service]
# Note the -f: don't fail if there is no PID file
ExecStart=/opt/theeye-agent/run.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
StandardOutput=root
StandardError=root
SyslogIdentifier=theeye-agent

#It should be set as User:theeye-a and Group:theeye-a, cause a bug with permissions at the dstats package on centos we left this way:
#It should be fixed.
User=root
Group=root
#User=theeye-a
#Group=theeye-a
Environment=statedir=/opt/theeye-agent/run.sh
#Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
