.schedules-list-component {
  h4 {
    border-bottom: 1px solid grey;
  }
  div.scheduleHeader {
    color: #aaa;
  }
  div.scheduleItem p {
    /* same as button.btn padding-top*/
    margin-top: 5px;
  }
}
