[data-component="workflow-collapsible-row"] {
  .workflow-job-row {
    background-color: #304269;
    cursor: pointer;
  }

  .status-icons {
    width: 30px;
    padding-right: 10px;
    text-align: center;

    i[data-hook="lifecycle_icon"] {
      font-size: 16px;
      line-height: 28px;
    }

    i[data-hook="progress_icon"] {
      top: -6px;
      position: relative;
      right: 4px;
      font-size: 12px;
    }
  }

  [data-component="workflow-job-exec-button"] {
    padding: 17px;
    float: right;
  }
  
  div.panel-heading {
    display: grid;
    grid-template-columns: max-content auto;

    h4.panel-title-icon {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    h4.panel-title > div {
      display: grid;    
      grid-template-columns: auto max-content;
      
      section[data-hook="icons-container"] {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      [data-component="inputs-row"] {
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        //grid-row-gap: 20px;
        height: 50px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        
        div {
          flex:1;
          padding: 8px;
          hyphens: auto;
          overflow-wrap: break-word;
          width: 0; // No, yo tampoco se por que anda esto
        }
      }
    }
  }
}
  