[data-component="workflow-collapsible-row"] {
  .workflow-job-row {
    background-color: #304269;
    cursor: pointer;
  }

  .status-icons {
    width: 30px;
    padding-right: 10px;
    text-align: center;

    i[data-hook="lifecycle_icon"] {
      font-size: 16px;
      line-height: 28px;
    }

    i[data-hook="progress_icon"] {
      top: -6px;
      position: relative;
      right: 4px;
      font-size: 12px;
    }
  }

  [data-component="workflow-job-exec-button"] {
    padding: 17px;
    float: right;
  }

  [data-component="inputs-row"] {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    //grid-row-gap: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    div {
      padding: 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 50%;
    }
  }
}
