
.workflow-job-row {
  background-color: #304269;
  cursor: pointer;

  .rotate {
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }

  .rotate.rotate-down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
  }
}
