<div class="tab-pane fade in">
  <h3 class="blue bold">NOTIFICATIONS</h3>
  <!-- <h4 class="blue">Notify me via...<a class="pull-right gray" href="#">About notifications &gt;</a></h4> -->
  <div class="row border">
    <div class="col-xs-4">
      <div class="check-container">
        <label for="check2">Push Notifications</label>
      </div>
    </div>
    <div class="col-xs-4">
      <small class="gray">Enable/Disable Mobile Notifications</small>
    </div>
    <div class="col-sm-4 text-right" data-hook="push"></div>
  </div>

  <div class="row border">
    <div class="col-xs-4">
      <div class="check-container">
        <label for="check2">Desktop Notifications</label>
      </div>
    </div>
    <div class="col-xs-4">
      <small class="gray">Enable/Disable Desktop Notifications</small>
    </div>
    <div class="col-sm-4 text-right" data-hook="desktop"></div>
  </div>
</div>
