<div style="widht: 100%; height: 90px; border-bottom: 3px solid #d88e47; background: #eee;">
  <a class="navbar-brand" href="http://theeye.io" style="height: 72px; padding: 0px 15px; border-right: 1px solid #7c98ac; margin: 10px 0; float: left">
    <img src="http://theeye.io/images/logo-hor.png" alt="The eye">
  </a>

  <h2 style="color: #38688a; text-align: center; padding-top: 30px;">TheEye.io Invitation</h2>
</div>


<p><strong>You have been invited to use TheEye.io by <%= username %></strong></p>
<p>To activate your account follow the next  <a href="<%= activationLink %>"> link </a> 
