<!DOCTYPE html>
<html>
  <%- partial('partials/header')%>
  <body>
    <tooltipHolder style="position:absolute;width:100%"></tooltipHolder>
    <div>
      <% if ( typeof (req.user) !== "undefined") { %>
        <%- partial('partials/menu') %>
      <% } %>

      <div class="main-container">
        <%- body %>
      </div>

      <div class="modal fade" id="alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Alert</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div><!--.modal-foooter-->
          </div><!--.modal-content-->
        </div><!--.modal-dialog-->
      </div><!--.modal-->

      <footer>
        <a href="/">theeye.io</a> - Beta Release - Copyright © 2014-2017 Theeye Inc
      </footer>

    </div>

    <%- blocks.scripts %>

    <script src="/js/ace-editor/ace.js"></script>
    <!-- SCRIPTS -->
    <script src="/js/bundles/common.bundle.js"></script>
    <script src="/js/bundles/main.bundle.js"></script>
    <!-- /SCRIPTS -->

    <% if (sails.config.application.environment === 'production') { %>
    <% if (sails.config.application.googleAnalytics !== false) { %>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-72130107-1', 'auto');
      ga('send', 'pageview');
      </script>
    <% } } %>
  </body>
</html>
