<li>
  <button class="editScript btn btn-primary simple-btn tooltiped"
    title="Edit script"
    aria-label="Center Align"
    data-script-id="<%= script.id %>">
    <span class="glyphicon glyphicon-edit"></span>
  </button>
</li>
<li>
  <button class="deleteScript btn btn-primary simple-btn tooltiped"
    title="Delete script"
    aria-label="Center Align"
    data-script-id="<%= script.id %>">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</li>
