<div id="user-page"></div>
<% block('scripts','<script> window.Users = ' + JSON.stringify(users) + '; </script>') %>
<% block('scripts','<script> window.Customers = ' + JSON.stringify(customers) + '; </script>') %>
