<!-- modal body -->
<form id="dstatResourceForm" action="/resource" class="form-horizontal">
  <input type="hidden" data-hook="resource_id" name="resource_id"/>
  <input type="hidden" data-hook="hosts_id" name="hosts_id"/>
  <input type="hidden" data-hook="monitor_type" name="monitor_type"/>
  <input type="hidden" data-hook="description" name="description" value="Dstat"/>
  <div class="form-group">
    <div class="col-sm-12">
      <h4>Thresholds Check Limits</h4>
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-9">
      <input data-hook="description" type="text" name="description" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="cpu" class="col-sm-3 control-label">CPU %</label>
    <div class="col-sm-9">
      <input data-hook="cpu" type="text" name="cpu" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="mem" class="col-sm-3 control-label">Memory %</label>
    <div class="col-sm-9">
      <input data-hook="mem" type="text" name="mem" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="cache" class="col-sm-3 control-label">Swap %</label>
    <div class="col-sm-9">
      <input data-hook="cache" type="text" name="cache" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="disk" class="col-sm-3 control-label">Disk %</label>
    <div class="col-sm-9">
      <input data-hook="disk" type="text" name="disk" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="looptime" class="col-sm-3 control-label">Check Interval (mins)</label>
    <div class="col-sm-9">
      <select data-hook="looptime" name="looptime" class="form-control">
        <% looptimes.forEach(function(t) {
        var extraAttributes = '';
        if( t.id==30000 ) { extraAttributes += ' selected'; } %>
        <option value="<%= t.id %>" <%= extraAttributes %>><strong><%= t.value %></strong></option>
        <% }); %>
      </select>
    </div>
  </div>
</form>
<!-- end modal body -->
