<form data-hook="process-monitor-form" id="processResourceForm" action="/resource" class="form-horizontal">
  <input data-hook="monitor_type" type="hidden" name="monitor_type" value="process"></input>
  <input data-hook="resource_id" type="hidden" name="resource_id" value=""></input>
  <div class="form-group">
    <label for="description" class="col-sm-3 control-label">Give me a Name</label>
    <div class="col-sm-9">
      <input data-hook="description" type="text" name="description" class="form-control" placeholder="eg: Nginx Service Check"></input>
    </div>
  </div>
  <div class="form-group">
    <label for="hosts_id" class="col-sm-3 control-label">Where should I run?</label>
    <div class="col-sm-9 resource-host">
      <select multiple data-hook="hosts_id" name="hosts_id" class="form-control">
        <% hosts.forEach(function(h) { %>
        <option value="<%=h.id%>"><strong><%=h.hostname%></strong></option>
        <% }); %>
      </select>
      <input name="host_id" value="" class="hiddenHostInput">
    </div>
  </div>
  <div class="form-group">
    <label for="looptime" class="col-sm-3 control-label">Check Interval (mins)</label>
    <div class="col-sm-9">
      <select data-hook="looptime" name="looptime" class="form-control">
        <option value="0" disabled selected><strong>select check interval</strong></option>
        <% looptimes.forEach(function(t) { %>
        <option value="<%= t.id %>"><strong><%= t.value %></strong></option>
        <% }); %>
      </select>
    </div>
  </div>

  <!-- raw_search INPUT -->
  <div data-hook="raw_search-section" class="form-group">
    <label for="raw_search" class="col-sm-3 control-label">What should I search for? <br/></label>
    <div class="col-sm-9">
      <div class="input-group">
        <input data-hook="raw_search" type="text" name="raw_search" class="form-control" placeholder="eg: apache2 -k start Or termsvcs ">
        <label class="input-group-addon">
          <!-- initialized not checked -->
          RegExp <input type="checkbox" name="is_regexp">
          <!-- <span data-hook="is_regexp" data-value="false" class="glyphicon glyphicon-unchecked"></span> -->
        </label>
      </div>
    </div>
  </div>
  <!-- /raw_search INPUT -->

  <div class="form-group">
    <label for="tags" class="col-sm-3 control-label">Tags<br/><small>[optional]</small></label>
    <div class="col-sm-9">
      <div>
        <select class="form-control tooltiped select" title="" name="tags" data-hook="tags" multiple style="width:100%">
        </select>
      </div>
    </div>
  </div>
</form>
