<form data-hook="process-monitor-form" id="processResourceForm" action="/resource" class="form-horizontal">
  <section data-hook="advanced">
    <input data-hook="monitor_type" type="hidden" name="monitor_type" value="process"></input>
    <input data-hook="resource_id" type="hidden" name="resource_id" value=""></input>
    <div class="form-group">
      <label for="name" class="col-sm-3 control-label"> Name * </label>
      <div class="col-sm-9">
        <input data-hook="name" type="text" name="name" class="form-control" placeholder="eg: Nginx Service Check"></input>
      </div>
    </div>
    <div class="form-group">
      <label for="hosts" class="col-sm-3 control-label"> Target Host * </label>
      <div class="col-sm-9 resource-host">
        <select multiple data-hook="hosts" name="hosts" class="form-control">
          <% hosts.forEach(function(h) { %>
            <option value="<%=h.id%>"><strong><%=h.hostname%></strong></option>
          <% }); %>
        </select>
        <!-- <input name="host_id" value="" class="hiddenHostInput"> -->
      </div>
    </div>
    <div class="form-group">
      <label for="looptime" class="col-sm-3 control-label"> Check Interval (mins) * </label>
      <div class="col-sm-9">
        <select data-hook="looptime" name="looptime" class="form-control">
          <option value="0" disabled selected><strong>select check interval</strong></option>
          <% looptimes.forEach(function(t) { %>
            <option value="<%= t.id %>"><strong><%= t.value %></strong></option>
          <% }); %>
        </select>
      </div>
    </div>

    <!-- raw_search INPUT -->
    <div data-hook="raw_search-section" class="form-group">
      <label for="process" class="col-sm-3 control-label"> Process * </label>
      <div class="col-sm-9">
        <div class="input-group">
          <input data-hook="raw_search" type="text" name="raw_search" class="form-control" placeholder="eg: apache2 -k start Or termsvcs ">
          <label class="input-group-addon" for="is_regexp">
            <!-- initialized not checked -->
            RegExp <input type="checkbox" name="is_regexp" value="true">
            <!-- <span data-hook="is_regexp" data-value="false" class="glyphicon glyphicon-unchecked"></span> -->
          </label>
        </div>
      </div>
    </div>
    <!-- /raw_search INPUT -->

    <div class="form-group">
      <label for="tags" class="col-sm-3 control-label"> Tags </label>
      <div class="col-sm-9">
        <div>
          <select class="form-control select" name="tags" data-hook="tags" multiple style="width:100%">
          </select>
        </div>
      </div>
    </div>
  </section>
</form>
