<div>
  <div data-hook="agent-set">
    <h3 class="blue bold">CREDENTIALS</h3>
    <div class="row border">
      <div class="col-xs-12">
          <h4 class="blue"><i class="fa fa-lock"></i> Agent Credentials</h4>
          <div class="row input-row">
            <div class="col-xs-3"><label>Customer</label></div>
            <div class="input-group col-xs-9">
              <input readonly type="text" id="customerName" class="form-control" data-hook="agent-customer-name">
              <span class="input-group-btn">
                <button class="btn btn-primary clipboard-customer-name-btn" type="button" data-clipboard-target="#customerName">
                  <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="row input-row">
            <div class="col-xs-3"><label>Client ID</label></div>
            <div class="input-group col-xs-9">
              <input readonly type="text" id="clientId" class="form-control" data-hook="agent-client-id">
              <span class="input-group-btn">
                <button class="btn btn-primary clipboard-client-id-btn" type="button" data-clipboard-target="#clientId">
                  <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="row input-row">
            <div class="col-xs-3"><label>Client Secret</label></div>
            <div class="input-group col-xs-9">
              <input readonly type="text" id="clientSecret" class="form-control blurry-input cursor-pointer blurry-text" data-hook="agent-client-secret">
              <span class="input-group-btn">
                <button class="btn btn-primary clipboard-client-secret-btn" type="button" data-clipboard-target="#clientSecret">
                  <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="row input-row">
            <div class="col-xs-3"><label>Access Token</label></div>
            <div class="input-group col-xs-9">
              <input readonly type="text" id="agentToken" class="form-control blurry-input cursor-pointer blurry-text" data-hook="agent-token">
              <span class="input-group-btn">
                <button class="btn btn-primary clipboard-agent-token-btn" type="button" data-clipboard-target="#agentToken">
                  <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
                </button>
              </span>
            </div>
          </div>
      </div>
    </div>

    <div class="row border">
      <div class="col-xs-12">
        <h4 class="blue"><i class="fa fa-server"></i> TheEye API Crendentials</h4>
        <div class="row input-row">
          <div class="col-xs-3"><label>access token</label></div>
          <div class="input-group col-xs-9">
            <input readonly type="text" id="theeyeToken" class="form-control blurry-input cursor-pointer blurry-text" data-hook="theeye-token">
            <span class="input-group-btn">
              <button class="btn btn-primary clipboard-token-btn" type="button" data-clipboard-target="#theeyeToken">
                <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div data-hook="agent-not-set">The Agent is unavailable. Please, contact us!</div>
</div>
