<div>
  <li>
    <button data-hook="last_exec" class="btn btn-primary">
      <i class="fa fa-file-text-o" aria-hidden="true"></i>
      <i data-hook="last_job_lifecycle" style="top: -6px; position: relative; right: 4px; font-size: 12px"></i> </li>
    </button>
  </li>
  <li>
    <button data-hook="edit" class="btn btn-primary" title="Edit">
      <i class="fa fa-edit" aria-hidden="true"></i>
    </button>
  </li>
  <li>
    <button data-hook="workflow" class="btn btn-primary" title="Workflow">
      <i class="fa fa-sitemap" aria-hidden="true"></i>
    </button>
  </li>
  <li>
    <button data-hook="search" class="btn btn-primary tooltiped" title="Search related elements">
      <i class="fa fa-search" aria-hidden="true"></i>
    </button>
  </li>
</div>
