<div>
  <li>
    <button data-hook="workflow" class="btn btn-primary tooltiped" title="Workflow">
      <i class="fa fa-sitemap" aria-hidden="true"></i>
    </button>
  </li>
  <li>
    <button data-hook="edit" class="btn btn-primary tooltiped" title="Edit">
      <i class="fa fa-edit" aria-hidden="true"></i>
    </button>
  </li>
</div>
