.schedule-icon-container {
  float: right;
  padding: 5px 10px;
  width: 36px;
  height: 34px;
  line-height: 22px;
  color: #777;
}

@media (max-width:767px) {
  .schedule-icon-container {
    display: none;
  }
}
