<section class="dashboard-panel">
  <div data-hook="panel">
    <section class="{{ name }}-panel events-panel {{ col_class }}">
      <h3>{{ title }}</h3>
      <div data-hook="panel-container"> </div>
    </section>
  </div>
</section>
