<div data-component="dashboard-page" class="admin-container dashboard">
  <div data-hook="tabs-container">
  </div>
  <!-- INDICATORS -->
  <div data-hook="indicators-tabview">
    <div data-hook="indicators-panel">
      <section class="col-md-12 indicators-panel events-panel">
        <div class="section-header">
        </div>
        <div class="section-container">
          <div class="panel-group" id="indicators-accordion" role="tablist" aria-multiselectable="true">
            <section data-hook="indicators-container"> </section>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- /INDICATORS -->

  <!-- MONITORS -->
  <div data-hook="monitors-tabview">
    <div data-hook="monitors-panel" class="monitors admin-panel">
      <section class="col-md-12 resources-panel events-panel">
        <div class="section-header">
          <div data-hook="monitors-panel-header" class="options-container">
            <a data-hook="toggle-up-and-running" href="#" class="fa fa-chevron-right rotate section-toggle"></a>
          </div>
        </div>


        <!-- HIDDEN CONTAINER WITH EXTRA OPTIONS -->
        <div data-hook="more-options" class="group hidden-container">
          <div data-hook="grouping-select"></div>
        </div>

        <!-- ALL UP AND RUNNING -->
        <div data-hook="hide-up-and-running" class="main-status hidden-container">
          <i class="fa fa-check-circle big-icon"></i>
          <h4>Relax, Nothing to worry about</h4>
          <span>Click to see more</span>
        </div>

        <!-- MONITORS LIST -->
        <div class="section-container">
          <div class="panel-group" id="monitor-accordion" role="tablist" aria-multiselectable="true">
            <section data-hook="monitors-container">
              <!-- MONITOR CONTAINER -->
            </section>
            <section data-hook="monitors-fold-container">
            </section>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- /MONITORS -->

  <!-- TASKS -->
  <div data-hook="workflows-tabview">
    <div data-hook="tasks-panel">
      <section class="col-md-12 tasks-panel events-panel">
        <div class="section-header">
          <div data-hook="tasks-panel-header" class="options-container">
            <a data-hook="toggle-hidden-tasks" href="#" class="fa fa-chevron-right rotate section-toggle"></a>
          </div>
        </div>
        <div class="section-container">
          <div class="panel-group" id="task-accordion" role="tablist" aria-multiselectable="true">
            <section data-hook="run-all-tasks"> </section>
            <section data-hook="tasks-container"> </section>
            <section data-hook="tasks-fold-container"> </section>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- /TASKS -->
  <!-- NOTIFICATIONS -->
  <div data-hook="notifications-tabview">
    <div data-hook="notifications-panel">
      <section class="col-md-12 notifications-panel events-panel">
        <div class="section-header">
          <div data-hook="notifications-panel-header" class="options-container">
          </div>
        </div>
        <div class="section-container">
          <div class="panel-group" id="notifications-accordion" role="tablist" aria-multiselectable="true">
            <section data-hook="notifications-container"> </section>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- /NOTIFICATIONS -->
  <div data-hook="result-view"></div>
</div>
