[data-component=dashboard-page] {
  .tabs-container {
    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 1000;
    right: 0;
  }

  .tasks-panel {
    .panel > .panel-heading {
      h4.panel-title-icon {
        float: left;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 110%;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin: 5px;
        margin-left: 10px;
      }
    }

    .workflow-job-row {
      .panel > .panel-heading > h4.panel-title-icon {
        display: none;
        visibility: hidden;
      }
    }
  }

  .panel-item.icons {
    li {
      display:inline-block;
    }
    li .btn {
      padding:5px 10px;
      width:36px;
      height: 34px;
    }
    .dropdown-menu>li>a {color:inherit;background-color:inherit;}
    .dropdown-menu>li>a:hover {background-image: none;background-color: #286090;}
  }

  .panel-item.state-icon {
    text-align:right;
    width:30px;
    float:right;
    padding:5px;
    font-size:20px;
  }

  .panel-body {
    .job-container {
      .panel-heading:hover {
        background-color: #212F48;
        transition: background-color 300ms linear;
        border-radius: 10px;
      }
    }
  }

  .empty-view {
    padding: 20px;
    padding-top: 50px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      max-width: 50vw;
      max-height: 256px;
      width: auto;
    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      align-items: center;     
      text-align: center;
      font-size: 1.5em;

      [data-hook="par2"] {
        font-size: 0.8em;
      }
    }

    .btn-container {
      gap: 5px
    }
  }

  .image-icon {
    height: 38px;
    width: 38px;
    border-radius: 20px;
  }
}
