<div class="modal fade monitor-modal"
  id="psaux-monitor-modal"
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="psaux-tpl-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" 
          class="close" 
          data-dismiss="modal" 
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"> Host Stats Monitor </h4>
      </div>
      <div class="modal-body">
        <%- include ./monitor/psaux-tpl-form.ejs %>
      </div>
      <div class="modal-footer">
        <button id="psaux-monitor-save"
          type="button" 
          class="btn btn-default monitor-save"
          data-dismiss="modal">
          Save
        </button>
        <button type="button"
          class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
      </div><!--.modal-foooter-->
    </div>
  </div>
</div>
