<form class="form-horizontal admin-form">
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Copy from <small>[optional]</small></label>
    <div class="col-sm-9">
      <select class="form-control" id="taskSelect">
        <option value selected></option>
        <% tasks.forEach(function(t) { %>
        <option value="<%= t.id %>"><strong><%= t.name %></strong></option>
        <% }); %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Give me a name</label>
    <div class="col-sm-9">
      <input data-hook="name" type="text" name="name" class="form-control" id="name" placeholder="Task name">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-3 control-label">More about me</label>
    <div class="col-sm-9">
      <textarea data-hook="description" type="text" name="description" class="form-control" id="description" placeholder="Task description"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="script_id" class="col-sm-3 control-label">What should I run?</label>
    <div class="col-sm-5">
      <select data-hook="script_id" id="script_id" name="script_id" class="form-control">
        <option value="0" disabled selected></option>
        <% scripts.forEach(function(s) { %>
        <option value="<%= s.id %>"><strong><%= s.filename %></strong></option>
        <% }); %>
      </select>
    </div>
    <div class="col-sm-4">
      <a class="btn btn-primary createScript" >Create a new script</a>
    </div>
  </div>
  <div class="form-group">
    <label for="script_arguments" class="col-sm-3 control-label">Script Arguments<br/><small>[optional]</small></label>
    <div class="col-sm-9">
      <div id="script-arguments-input">
        <input class="form-control tooltiped"
          type="text"
          title="You can write a comma separated list of arguments"
          name="script_arguments"
          data-hook="script_arguments"
          placeholder="eg: --exclude-dir='node_modules'">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="script_runas" class="col-sm-3 control-label">
      RunAs<br/><small>[optional]</small>
      <span style="cursor:help" class="glyphicon glyphicon-question-sign"></span>
    </label>
    <div class="col-sm-9">
      <div>
        <input class="form-control tooltiped"
          title="Surround the script with something else, eg. sudo. Use '%script%' to include the script. Before execution will be replaced with the script path"
          type="text"
          name="script_runas"
          data-hook="script_runas"
          placeholder="sudo -u facugon %script%"
        >
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="tags" class="col-sm-3 control-label">Tags<br/><small>[optional]</small></label>
    <div class="col-sm-9">
      <div>
        <select class="form-control tooltiped select" title="" name="tags" data-hook="tags" multiple style="width:100%"> </select>
      </div>
    </div>
  </div>
</form>
