<div class="table-header admin">
  <!-- select all models button -->
  <span data-hook="left-container"></span>
  <span class="title">
    <span data-hook="title"></span>
    <i data-hook="title-help"></i>
  </span>
  <span class="title separator">|</span>
  <div data-hook="main-buttons-container" style="display:inline-block"></div>
  <div data-hook="massive-buttons-container" class="pull-right"></div>
</div>
