<div class="table-header admin">
  <!-- select all models button -->
  <span data-hook="left-container"></span>
  <span data-hook="title" class="title"></span>
  <span class="title separator">|</span>
  <div data-hook="main-buttons-container" style="display:inline-block"></div>
  <div data-hook="massive-buttons-container" class="pull-right"></div>
</div>
