<span class="dropdown">
	<button class="dropdown-toggle btn btn-primary"
		title="group options"
		type="button"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="true">
		<i data-hook="show-more-options" class="fa fa-toggle-off" aria-hidden="true"></i>
	</button>
	<ul class="dropdown-menu dropdown-menu-right">
    <li data-hook="group-by" data-prop="hostname" class="btn btn-primary">Hostname</li>
    <li data-hook="group-by" data-prop="failure_severity" class="btn btn-primary">Severity</li>
    <li data-hook="group-by" data-prop="type" class="btn btn-primary">Type</li>
    <li data-hook="group-by" data-prop="name" class="btn btn-primary">Name</li>
    <li data-hook="group-by" data-prop class="btn btn-primary">Ungroup</li>
  </ul>
</span>
