<div>
  <div class="row">
    <span class="col-xs-3">Update CURL</span>
    <span class="col-xs-9">
      <div class="input-group">
        <input data-hook="update-curl" id="updateCurl" type=text class=form-control readonly/>
        <span class="input-group-btn">
          <button class="btn btn-primary clipboard-token-btn clip" type="button"
            data-clipboard-target="#updateCurl">
            <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
          </button>
        </span>
      </div>
    </span>
  </div>
  <div class="row">
    <span class="col-xs-3">Delete CURL</span>
    <span class="col-xs-9">
      <div class="input-group">
        <input data-hook="trigger-url" id="webhookTriggerUrl" type=text class=form-control readonly/>
        <span class="input-group-btn">
          <button class="btn btn-primary clipboard-token-btn clip" type="button"
            data-clipboard-target="#webhookTriggerUrl">
            <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
          </button>
        </span>
      </div>
    </span>
  </div>
</div>
