.admin-container.dashboard .indicator-container .panel-heading .panel-item.name {
  width: 70%;
  padding-right: 5px;
}

.panel-item-left {
  width: 80%;
  float: left;
}

.panel-item.value {
  padding:2px 10px 2px 10px;
  line-height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gauge-container {
  position: relative;
  width: 30%;
  float: right;
}

.panel-item {
  .bars-component {
    .progress.progress-bar-vertical {
      height:32px;
      min-height: 0px;
      margin-bottom: 0px;
    }
  }
}

.indicator-details {
  .indicator-curl {
    label {
      margin: 0px;
      line-height: 30px;
      font-weight: 400;
    }
  }
}

.curl-container {
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  margin-right: 68px;
}

.curl-copy {
  float:right;
}

@media (max-width: 767px) {
  .admin-container.dashboard .indicator-container .panel-heading .panel-item.name {
    width: 65%;
  }
  .gauge-container {
    width: 35%;
  }

  .panel-item-left {
    width: 75%;
  }
}
