[data-component=indicators-page] {

  h4 > .indicator-buttons {
    padding: 10px;
  }

  .panel-title-icon {
    padding: 10px;
  }

  .panel-title-content {
    padding-left: 0;
    padding-right: 0;
    margin-right: 84px;
  }

  .indicator-title {
    .bars-component {
      .progress.progress-bar-vertical {
        height:32px;
        min-height: 0px;
        margin-bottom: 0px;
      }
    }
  }

  .indicator-title {
    font-weight: bold;
    padding-bottom: 10px;
  }

  .indicator-title, .indicator-data {
    padding: 3px 10px 5px 12px;
  }

  .indicator-buttons {
    float: right;

    .state-icon {
      display: inline;
      width: 30px;
      padding: 5px;
      font-size: 20px;
    }
  }

  [data-component=buttons-menu] {
    display: inline;
  }
}
