
[data-component=select2-view] {
  .select2-container--default .select2-selection--multiple .select2-selection__rendered li.warning {
    background-color: #ea7c22;
    color: #FFF;
    font-weight: 400;

    span {
      color: #FFF;
    }
    //font-size: 14px;
    //padding: 5px;
  }
}
