<!-- Modal for uploading script -->
<div class="modal fade" id="changePass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change password</h4>
      </div>
      <div class="modal-body">
        <form id="changePass" role="form" action="/auth/local/update" method="post">
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password"/>
          </div>
          <div class="form-group">
            <label>New password</label>
            <input type="password" class="form-control" name="newPassword">
          </div>
          <div class="form-group">
            <label>Confirm password</label>
            <input type="password" class="form-control" name="confirmPassword">
          </div>
          <input type="hidden" name="username" value="<%= user.username %>">
          <button type="submit" class="btn btn-warning btn-lg">Save</button>
        </form>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div><!--.modal-foooter-->
    </div><!--.modal-content-->
  </div><!--.modal-dialog-->
</div><!--.modal-->  
