<div class="loginBox">
  <div data-hook="password-form-container">
    <h1>Reset account password</h1>
    <div data-hook="password-form" class="password-form"></div>
    <button data-hook="reset-password">Submit</button>
    <a class='login-back' href='/login'>Back to login</a>
  </div>
</div>
