<div class="navbar-right col-xs-4 col-sm-8 col-md-9">
  <span data-hook="search-button-mobile" class="hidden-sm eyemenu-search-icon">
    <i class="fa fa-search" aria-hidden="true"></i>
  </span>
  <div data-hook="search-mobile-container" class="eyemenu-search-panel-mobile hidden-sm">
    <!--<i class="fa fa-times eyemenu-search-panel-clear" aria-hidden="true"></i>-->
    <i data-hook="endsearch-button-mobile" class="fa fa-arrow-left" aria-hidden="true"></i>
    <input data-hook="sm-input" placeholder="Search">
  </div>        
  <div class="eyemenu-search-panel-desktop hidden-xs">
    <!--<i class="fa fa-times eyemenu-search-panel-clear" aria-hidden="true"></i>-->
    <i class="fa fa-search" aria-hidden="true"></i>
    <input data-hook="xs-input" placeholder="Search">
  </div>
  <!--
  <div class="eyemenu-panel eyemenu-results-panel">
    <ul class="eyemenu-links eyemenu-clients">
      <li class="eyemenu-client">
        <a href="#">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <span>Client 01</span>
          <i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
        </a>
      </li>
      <li class="eyemenu-client"><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i><span>Client 02</span><i class="fa fa-angle-right pull-right" aria-hidden="true"></i></a></li>
      <li><a href="#" class="eyemenu-icon eyemenu-settings"> Resource 01 <i class="fa fa-angle-right pull-right" aria-hidden="true"></i></a></li>
      <li><a href="#" class="eyemenu-icon eyemenu-logout"> Resource 02 <i class="fa fa-angle-right pull-right" aria-hidden="true"></i></a></li> 
    </ul>
  </div>
  -->
</div>
