<div>
  <span data-hook="search-button-mobile" class="hidden-sm eyemenu-search-icon">
    <i class="fa fa-search" aria-hidden="true"></i>
  </span>
  <div data-hook="search-mobile-container" class="eyemenu-search-panel-mobile hidden-sm">
    <!--<i class="fa fa-times eyemenu-search-panel-clear" aria-hidden="true"></i>-->
    <i data-hook="endsearch-button-mobile" class="fa fa-arrow-left" aria-hidden="true"></i>
    <input id="sm-input" data-hook="sm-input" placeholder="Search">
    <i data-hook="endsearch-icon" class="fa fa-times-circle" aria-hidden="true"></i>
  </div>
  <div class="eyemenu-search-panel-desktop hidden-xs">
    <!--<i class="fa fa-times eyemenu-search-panel-clear" aria-hidden="true"></i>-->
    <i class="fa fa-search" aria-hidden="true"></i>
    <input id="xs-input" data-hook="xs-input" placeholder="Search">
    <i data-hook="endsearch-icon" class="fa fa-times-circle" aria-hidden="true"></i>
  </div>
</div>
