<form data-hook="form" class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
      <input data-hook="name" name="name" class="form-control" placeholder="name">
    </div>
  </div>
</form>
