<div class="admin-container">
  <div class="js-searchable-box">
    <form>
      <input type="text" placeholder="Find a Task">
      <button class="clean"><i class="glyphicon glyphicon-remove"></i></button>
      <button class="search"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>
  <div class="admin-panel">
    <h3>Webhook Admin</h3>
    <div class="table-header admin">

      <!-- MASSIVE SELECTION BUTTON -->
      <button class="mass-action massChecker btn btn-primary simple-btn tooltiped"
        title="Select all"
        aria-label="Center Align">
        <span class="massiveSelector glyphicon glyphicon-unchecked"></span>
      </button>
      <!-- //MASSIVE SELECTION BUTTON -->

      <span class="title">Webhooks &nbsp; &nbsp; |</span>

      <!-- CREATE BUTTON -->
      <button class="btn btn-primary simple-btn tooltiped"
        data-placement="right"
        data-hook="create"
        title="Create Webhook" aria-label="Left Align">
        <span class="glyphicon glyphicon-plus"></span>
        New Incoming Webhook
      </button>
      <!-- //CREATE BUTTON -->

      <!-- MASSIVE DELETE BUTTON -->
      <button class="mass-action pull-right massDelete btn btn-primary simple-btn tooltiped"
        title="Delete selected tasks"
        aria-label="Center Align">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      <!-- //MASSIVE DELETE BUTTON -->
    </div>

    <div class="panel-group" data-hook="webhooks-container">
    </div>

  </div>
</div>
