<tr class="submonitoRow">
  <td class="text-center state-icon">
    <span data-hook="state-icon"></span>
  </td>
  <td> <span data-hook="name"></span> </td>
  <td> <span data-hook="hostname"></span> </td>
  <td> <span data-hook="type" class="state_text"></span> </td>
  <td> <span data-hook="last_update_formatted" class="state_last_update"> </span> </td>
  <td>
    <a href="#" data-hook="last_event" class="btn btn-primary btn-sm fa fa-file-text-o"></a>
  </td>
  <td>
    <span data-hook="stats-button-container">
      <button data-hook="stats" class="btn btn-sm btn-primary tooltiped" title="Host Stats">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
      </button>
    </span>
  </td>
</tr>
