<tr class="submonitoRow">
  <td class="text-center state-icon">
    <span data-hook="state-icon"></span>
  </td>
  <td> <span data-hook="type"></span> </td>
  <td> <span data-hook="state" class="state_text"></span> </td>
  <td> <span data-hook="last_update_formatted" class="state_last_update"></span> </td>
  <td>
    <a href="#" data-hook="last_event" class="btn btn-primary btn-sm fa fa-file-text-o"></a>
  </td>
</tr>
