.meter {
  width: 25%;
  float: right;
  right: 25%;
}

.meter > .percent-visual {
  position: absolute;
  width: 25%;
  height: 30px;
  background: #23324C;
}

.meter > .percent-visual > span {
  display: block;
  height: 100%;
  background-color: #42D5BB;
  overflow: hidden;
}

.meter > .percent-text {
  position: absolute;
  width: 25%;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
