.job-result-component {

  td {
    vertical-align: top;
  }

  .table-component {
    padding: 10px 10px 10px 25px;
    table {
      width: 100%;
      
      th {
        width: 15%;
      }

      & th, td {
        border: 1px solid #ddd;
        padding: 0.5ch;
        word-break: break-all;
      }
      th {
        max-width: fit-content;
      }
      border-collapse: collapse;

      td[data-hook=options] {
        text-align: center;
      }
    }
  }

  .text-block {
    padding: 0;
  }

  .result {
    cursor: pointer;

    background: #000;
    color: #fff;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 600px;

    h2 {
      margin: 20px 0 20px 0;
    }

    .output {

      span, pre {
        padding: 0;

        background-color: rgba(0,0,0,1);
        border-radius: 3px;
        font-size: 12px;
        font-family: Consolas, "Liberation Mono", Courier, monospace;
        color: #fefefe;
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }

  .moreinfo-container {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
  }

  [data-hook=log-container] {
    .table { 
      td {
        width: 100px;
      }
    }
  }
}

.json-viewer-component {
  padding: none;
}
