<div class="settings-page">
   <div class="header text-center">
      <span>Your preferences for Interactar</span>
      <span data-hook="close-button" class="close-button fa fa-remove" style=""></span>
   </div>
   <div class="col-xs-3 panel-left">
      <ul class="nav nav-tabs tabs-left" data-hook="links-container">
      </ul>
   </div>
   <div class="col-xs-9 panel-right">
      <div class="tab-content" data-hook="panes-container">
        <!-- Start agents tab -->
         <div class="tab-pane fade installer-tab" id="installer" data-hook="installer-tab"></div>
         <div class="tab-pane fade" id="credentials" data-hook="credentials-tab"></div>
         <div class="tab-pane fade" id="members" data-hook="members-tab"></div>
         <div class="tab-pane fade" id="integrations" data-hook="integrations-tab"></div>
         <div class="tab-pane fade accounts-tab" id="accounts" data-hook="accounts-tab"></div>
      </div>
   </div>
</div>
