<li>
  <a title="Workflow" data-hook="workflow-button" href="/admin/workflow?node=<%= task.id %>" class="tooltiped btn btn-primary">
    <i class="fa fa-sitemap" aria-hidden="true"></i>
  </a>
</li>
<li>
  <button data-id="<%= task.id %>" class="editTasks btn btn-primary tooltiped" title="Edit Task">
    <span class="fa fa-edit"></span>
  </button>
</li>

