<div>
  <h2>Let's create a simple <i>'hello world'</i> task to run remotely. Follow this instructions:</h2>
  <div class="instructions-list-container">
    <div class="instructions-list">
      <ol>
        <li>Click on <div data-hook="create-task" style="display:inline-block"></div> and select <code>Script</code>.</li>
        <li>Follow this <a class="tooltiped" title="or click me!" href="https://github.com/theeye-io/theeye-docs/tree/master/tasks#create-a-script-task" target="_blank">documentation<span class="glyphicon glyphicon-link"></span></a> on how to create an script based task.</li>
      </ol>
    </div>
  </div>
</div>
