<section>
  <div style="text-align:center; font-size:16px;">
    <h2>You don't have any Task created.</h2>
    <h2>Let's create a simple <i>'hello world'</i> task to run remotely. Follow this instructions:</h2>
  </div>

  <div class="instructions-list-container">
    <div class="instructions-list">
      <ol>
        <li>Click on <strong><i><button class="tooltiped" title="Top left navigation button" style="border:none;background:none;color:#144e77;"><span class="fa fa-bars"></span></button>> Tasks</i></strong> , to open <a class="tooltiped" title="or click me!" href="/admin/task/" target="_blank">Tasks Administration<span class="glyphicon glyphicon-link"></span></a> panel</li>
        <li>Click on <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>New Task</button> and select <code>Script (second option)</code>.</li>
        <li>Click on <button class="btn btn-primary">Create script</button> a new popup window will appear</li>
        <li>Select <code>bash (.sh)</code> as interpreter, then in <code>Live editor</code> mode copy and paste this <a href="https://gist.github.com/jailbirt/12343dc435f0cc686ac4" target="_blank">helloWorld Gist<span class="glyphicon glyphicon-link"></span></a> script, and save the script</li>
        <li>
          Copy and paste the following arguments in the <strong><i>`Advanced` > `Script Arguments`</i></strong> input : 
          <br><strong id="script-arguments"><i><%= user.username %>, user</i></strong>
          <button class="clipboard-btn" data-clipboard-target="#script-arguments">
            <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
          </button>
        </li>
      </ol>
      If you need more help, please watch the following video :<br><br>
      <div class="video" style="width:100%; text-align:center;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cRlteE5bSAM" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
