
.workflow-page.admin-container {
  @media (max-width:767px) {
    .workflow-component {
      top: 82px;
    }
  }

  .workflow-component {
    width: 100%;
    height: 100%;
    position: fixed;
    float: left;
    left: 0;
    top: 103px;
    z-index: 999;
  }
}
