<div class="admin-container">
  <!-- <div class="js-searchable-box">
    <form>
      <input type="text" placeholder="Find a Task">
      <button class="clean"><i class="glyphicon glyphicon-remove"></i></button>
      <button class="search"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div> -->
  <!-- <div class="admin-panel">
    <h3>Scheduler Admin</h3> -->
    <!-- <div class="table-header admin"> -->

      <!-- MASSIVE SELECTION BUTTON -->
      <!-- <button class="pull-left tableHeaderIconButton massChecker btn btn-primary simple-btn tooltiped"
        style="margin-left:5px;"
        title="Select all"
        aria-label="Center Align">
        <span class="massiveSelector glyphicon glyphicon-unchecked"></span>
      </button> -->
      <!-- //MASSIVE SELECTION BUTTON -->

      <!-- <span class="title">Scheduler &nbsp; &nbsp; |</span> -->

      <!-- CREATE BUTTON -->
      <!-- <button class="btn btn-primary simple-btn new-btn tooltiped"
        data-placement="right"
        data-hook="create"
        title="Create Webhook" aria-label="Left Align">
        <span class="glyphicon glyphicon-plus"></span>
        Nonsense
      </button> -->
      <!-- //CREATE BUTTON -->

      <!-- MASSIVE DELETE BUTTON -->
      <!-- <button class="pull-right tableHeaderIconButton massDelete btn btn-primary simple-btn tooltiped"
        title="Delete selected tasks"
        aria-label="Center Align">
        <span class="glyphicon glyphicon-trash"></span>
      </button> -->
      <!-- //MASSIVE DELETE BUTTON -->
    <!-- </div> -->


  <!-- </div> -->
  <div class="" data-hook="schedule-container"> </div>
</div>
