<div class="row">
  <div class="col-sm-12">
    {{taskText}}
    <a href="/admin/task#search={{taskId}}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-edit"></span>
      Edit
    </a>
  </div>
</div>
