<div class="form-group">
  <label for="path" class="col-sm-3 control-label"> Target Path * </label>
  <div class="col-sm-9">
    <div class="input-group">
      <input name="path" data-hook="path" type="text" class="form-control" placeholder="/etc/apache2">
      <label class="input-group-addon" for="is_manual_path">
        <!-- initialized not checked -->
        Manual <input type="checkbox" data-hook="is_manual_path" name="is_manual_path">
        <!-- <span data-hook="is_regexp" data-value="false" class="glyphicon glyphicon-unchecked"></span> -->
      </label>
    </div>
    <small data-hook="preview"></small>
  </div>
</div>
