<form class="form-horizontal">
  <section data-hook="main">
    <input data-hook="type" type="hidden" name="type" value="file" />
    <div data-hook="name-container" class="form-group">
      <label for="name" class="col-sm-3 control-label">Descriptive name</label>
      <div class="col-sm-9">
        <input name="name" data-hook="name" type="text" class="form-control" placeholder="My Apache Config File">
      </div>
    </div>
    <div data-hook="looptime-container" class="form-group">
      <label for="looptime" class="col-sm-3 control-label">Check Interval (mins)</label>
      <div class="col-sm-9">
        <select name="looptime" data-hook="looptimes" class="form-control" style="width:100%"> </select>
      </div>
    </div>
    <div data-hook="hosts-container" class="form-group">
      <label for="hosts" class="col-sm-3 control-label">Target host</label>
      <div class="col-sm-9">
        <select name="hosts" data-hook="hosts" class="form-control" style="width:100%" multiple></select>
      </div>
    </div>
    <div class="form-group">
      <label for="path" class="col-sm-3 control-label">Target path</label>
      <div class="col-sm-9">
        <input name="path" data-hook="path" type="text" class="form-control" placeholder="/etc/apache2/apache.conf">
      </div>
    </div>
  </section>

  <!-- ADVANCED SECTION START HERE -->
  <div class="advanced-section-title" data-hook="advanced-section-toggler">
    <i class="tooltiped glyphicon glyphicon-chevron-down" title="advanced"></i>
  </div>

  <section data-hook="advanced" style="display:none;">
    <div class="form-group">
      <label for="owner" class="col-sm-3 control-label"> File owner </label>
      <div class="col-sm-9">
        <input name="owner" data-hook="owner" type="text" class="form-control" placeholder="apache">
      </div>
    </div>
    <div class="form-group">
      <label for="group" class="col-sm-3 control-label"> File group </label>
      <div class="col-sm-9">
        <input name="group" data-hook="group" type="text" class="form-control" placeholder="apache">
      </div>
    </div>
    <div class="form-group">
      <label for="permissions" class="col-sm-3 control-label"> File permissions </label>
      <div class="col-sm-9">
        <input name="permissions" data-hook="permissions" type="text" class="form-control" placeholder="0755">
      </div>
    </div>
  </section>
  <!-- /ADVANCED SECTION END HERE -->
</form>
