<form class="form-horizontal">
  <section data-hook="main">
    <input data-hook="type" type="hidden" name="type" value="file" />
    <div data-hook="name-container" class="form-group">
      <label for="name" class="col-sm-3 control-label"> Name * </label>
      <div class="col-sm-9">
        <input name="name" data-hook="name" type="text" class="form-control" placeholder="My Apache Config File">
      </div>
    </div>
    <div data-hook="looptime-container" class="form-group">
      <label for="looptime" class="col-sm-3 control-label"> Check Interval (mins) * </label>
      <div class="col-sm-9">
        <select name="looptime" data-hook="looptimes" class="form-control" style="width:100%"> </select>
      </div>
    </div>
    <div data-hook="hosts-container" class="form-group">
      <label for="host" class="col-sm-3 control-label"> Target Host * </label>
      <div class="col-sm-9">
        <select name="hosts" data-hook="hosts" class="form-control" style="width:100%" multiple></select>
      </div>
    </div>
    <div class="form-group">
      <label for="path" class="col-sm-3 control-label"> Target Path * </label>
      <div class="col-sm-9">
        <input name="path" data-hook="path" type="text" class="form-control" placeholder="/etc/apache2">
      </div>
    </div>
  </section>

  <!-- ADVANCED SECTION START HERE -->
  <section data-hook="advanced" style="display:none;">
    <div class="form-group">
      <label for="uid" class="col-sm-3 control-label"> File UID </label>
      <div class="col-sm-9">
        <input name="uid" data-hook="uid" type="text" class="form-control" placeholder="0">
      </div>
    </div>
    <div class="form-group">
      <label for="gid" class="col-sm-3 control-label"> File GID </label>
      <div class="col-sm-9">
        <input name="gid" data-hook="gid" type="text" class="form-control" placeholder="1000">
      </div>
    </div>
    <div class="form-group">
      <label for="permissions" class="col-sm-3 control-label"> File Permissions </label>
      <div class="col-sm-9">
        <input name="permissions" data-hook="permissions" type="text" class="form-control" placeholder="0755">
      </div>
    </div>
  </section>
  <!-- /ADVANCED SECTION END HERE -->

  <div class="advanced-section-title" data-hook="advanced-section-toggler">
    <i class="tooltiped glyphicon glyphicon-chevron-down" title="advanced"></i>
  </div>

</form>
