<form class="form-horizontal">
  <section data-hook="main">
    <input data-hook="type" type="hidden" name="type" value="file" />
    <div data-hook="name-container" class="form-group">
      <label for="name" class="col-sm-3 control-label"> Name * </label>
      <div class="col-sm-9">
        <input name="name" data-hook="name" type="text" class="form-control" placeholder="My Apache Config File">
      </div>
    </div>
    <div data-hook="looptime-container" class="form-group">
      <label for="looptime" class="col-sm-3 control-label"> Check Interval (mins) * </label>
      <div class="col-sm-9">
        <select name="looptime" data-hook="looptimes" class="form-control" style="width:100%"> </select>
      </div>
    </div>
    <div data-hook="hosts-container" class="form-group">
      <label for="hosts" class="col-sm-3 control-label"> Target Host * </label>
      <div class="col-sm-9">
        <select name="hosts" data-hook="hosts" class="form-control" style="width:100%" multiple></select>
      </div>
    </div>
  </section>

  <!-- ADVANCED SECTION START HERE -->
  <section data-hook="advanced" style="display:none;">
    <div data-hook="access-setup">
      <div class="form-group">
        <label for="os_username" class="col-sm-3 control-label"> File Username </label>
        <div class="col-sm-9">
          <input name="os_username" data-hook="os_username" type="text" class="form-control" placeholder="root">
        </div>
      </div>
      <div class="form-group">
        <label for="os_groupname" class="col-sm-3 control-label"> File Groupname </label>
        <div class="col-sm-9">
          <input name="os_groupname" data-hook="os_groupname" type="text" class="form-control" placeholder="admin">
        </div>
      </div>
      <div class="form-group">
        <label for="permissions" class="col-sm-3 control-label"> File Permissions </label>
        <div class="col-sm-9">
          <input name="permissions" data-hook="permissions" type="text" class="form-control" placeholder="0755">
        </div>
      </div>
    </div>
  </section>
  <!-- /ADVANCED SECTION END HERE -->

  <div class="advanced-section-title" data-hook="advanced-section-toggler">
    <i class="tooltiped glyphicon glyphicon-chevron-down" title="advanced"></i>
  </div>

</form>
