<nav class="navbar navbar-inverse navbar-fixed-top navbar-eyemenu">

	<div class="navbar-header"> 
    <!--<div class="col-xs-8 col-sm-4 col-md-3">-->
    <div>
      <div data-hook="menu-container"></div>

      <a class="navbar-brand" href="/dashboard">
        <img src="{{ logo }}" alt="The eye">
      </a>
		</div>

		<div data-hook="searchbox-container"></div>
	</div>
</nav>
