<nav class="navbar navbar-inverse navbar-fixed-top navbar-eyemenu">
	<div class="navbar-header"> 
    <div>
      <div data-hook="menu-container"></div>
      <a class="navbar-brand" data-hook="theeye-logo">
        <img src="{{ logo }}" alt="TheEye">
      </a>
		</div>
    <div class="navbar-right col-xs-5 col-sm-8 col-md-9">
      <div data-hook="buttons-container" class="navbar-right"></div>
      <div data-hook="searchbox-container"></div>
    </div>
	</div>
</nav>
