<div class="admin-container dashboard">
  <!-- SEARCH INPUT -->
  <div class="js-searchable-box">
    <form>
      <input type="text" placeholder="Find a resource">
      <button class="clean"><i class="glyphicon glyphicon-remove"></i></button>
      <button class="search"><i class="glyphicon glyphicon-search"></i></button>
    </form>
  </div>
  <!-- /SEARCH INPUT -->

  <!-- MONITORS -->
  <div data-hook="monitors-panel" class="monitors admin-panel">
    <section class="col-md-6 resources-panel events-panel">
      <h3>Monitors
        <span data-hook="show-more-options"
          title="group options"
          class="tooltiped glyphicon glyphicon-plus">
        </span>
      </h3>

      <!-- HIDDEN CONTAINER WITH EXTRA OPTIONS -->
      <div data-hook="more-options" class="group hidden-container">
        <div data-hook="grouping-select"></div>
      </div>

      <!-- ALL UP AND RUNNING -->
      <div data-hook="up-and-running" class="main-status hidden-container">
        <i class="glyphicon glyphicon-ok-sign big-icon"></i>
        <h4>All up and running</h4>
      </div>

      <!-- MONITORS LIST -->
      <div>
        <div class="panel-group"
          id="monitor-accordion"
          role="tablist"
          aria-multiselectable="true">
          <section data-hook="monitors-container">
            <!-- MONITOR CONTAINER -->
          </section>
          <section data-hook="monitors-fold-container">
            <div data-hook="hidden-items" class="hidden-container">
              <div data-hook="hidden-items-container">
              </div>
            </div>
            <div data-hook="toggle-hidden-items" style="padding:5px 0px 5px 0px; margin: auto; width:100%; color:#fff; text-align:center; cursor:pointer;">
              <span class="btn btn-primary tooltiped glyphicon glyphicon-menu-down" title="show/hide"></span>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
  <!-- /MONITORS -->

  <!-- TASKS -->
  <div data-hook="tasks-panel">
    <section class="col-md-6 tasks-panel events-panel">
      <h3>Tasks</h3>
      <div>
        <div class="panel-group"
          id="task-accordion"
          role="tablist"
          aria-multiselectable="true">
          <section data-hook="tasks-container">
            <!-- TASKS CONTAINER -->
          </section>
          <section data-hook="tasks-fold-container">
            <div data-hook="hidden-items" class="hidden-container">
              <div data-hook="hidden-items-container">
              </div>
            </div>
            <div data-hook="toggle-hidden-items" style="padding:5px 0px 5px 0px; margin: auto; width:100%; color:#fff; text-align:center; cursor:pointer;">
              <span class="btn btn-primary tooltiped glyphicon glyphicon-menu-down" title="show/hide"></span>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
  <!-- /TASKS -->
</div>
