<div class="dropdown resource">
  <span id="dropdownMenu1"
    data-toggle="dropdown"
    aria-expanded="true"
    class="btn btn-primary simple-btn dropdown-toggle"
    data-placement="right"
    title="Create new monitor"
    aria-label="Center Align">
    <span class="glyphicon glyphicon-plus"></span>
    <i class="menu-title-desktop">New Monitor</i>
  </span>
  <ul class="dropdown-menu"
    role="menu"
    aria-labelledby="dropdownMenu1"
    style="min-width: 120px">
    <li role="presentation">
      <a role="menuitem" tabindex="-1"
        class="create-monitor"
        data-hook="create-scraper-monitor"
        data-resource-type="scraper">WEB/API Check</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1"
        class="create-monitor"
        data-hook="create-file-monitor"
        data-resource-type="file">File</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1"
        class="create-monitor createResourceMonitor"
        data-toggle="modal"
        data-hook="create-monitor"
        data-target="#processResourceModal"
        data-resource-type="process"
        data-action="create">Process</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1"
        class="create-monitor createResourceMonitor"
        data-toggle="modal"
        data-hook="create-monitor"
        data-target="#scriptResourceModal"
        data-resource-type="script"
        data-action="create">Script</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1"
        class="create-monitor createResourceMonitor"
        data-toggle="modal"
        data-hook="create-monitor"
        data-target="#dstatResourceModal"
        data-resource-type="dstat"
        data-action="create">Host Stats</a>
    </li>
  </ul>
</div>
