<li>
  <button class="mass-action pull-right massDelete btn btn-primary simple-btn tooltiped"
    title="Delete selected monitors"
    aria-label="Center Align">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</li>
<li>
  <button class="mass-action pull-right massMuteActivate btn btn-primary simple-btn tooltiped"
    title="Activate selected monitors alerts"
    aria-label="Center Align">
    <span class="massiveSelector glyphicon glyphicon-volume-up"></span>
  </button>
</li>
<li>
  <button class="mass-action pull-right massMuteDeactivate btn btn-primary simple-btn tooltiped"
    title="Deactivate selected monitors alerts"
    aria-label="Center Align">
    <span class="massiveSelector glyphicon glyphicon-volume-off"></span>
  </button>
</li>
