<!-- DELETE BUTTON -->
<button class="deleteResource btn btn-primary simple-btn tooltiped"
  title="Delete Monitor"
  aria-label="Center Align"
  data-resource_id="<%= monitor.resource.id %>">
  <span class="glyphicon glyphicon-trash"></span>
</button>
<!-- /DELETE BUTTON -->
