.workflow-component {
  width: 100%;
  height: 100%;
  
  .workflow-container {
    width: 100%;
    height: inherit;
    background-color: #304269;
    //background-color: #264e96;

    .workflow-buttons {
      position: fixed;
      padding: 2px;
    }

    .workflow-graph-container {
      width: 100%;
      height: 100%;
    }
  }

  .action-required {
    float: right;
  }
}
