<div>
  <div data-hook="agent-set">
    <h3 class="blue bold">INSTALLER</h3>
    <div class="row border">
      <div class="col-xs-12">
        <h4 class="blue"><i class="fa fa-linux"></i> Linux Agent Installer</h4>
        <div class="alert" style="background:#EEEEEE">The Agent is fully funtional in Redhat/Centos 6+, Ubuntu 12+. It should works out of the box on every Linux with a kernel version 3.x+. For Linux with Kernel 2.x could require aditional actions.</div>
        <h4 class="blue">To install the agent on Linux</h4>
        <ol>
          <li>Open a Console</li>
          <li>Become root. <i>NOTE: The installation script assumes that root access is granted.</i></li>
          <li>
            Copy and paste the following line into the console to begin the installation
            <div class="input-group">
              <input readonly type="text" id="agentCurl" class="form-control clipboard-curl-agent-btn" data-hook="curl-agent">
              <span class="input-group-btn">
                <button class="btn btn-primary clipboard-btn" type="button" data-clipboard-target="#agentCurl">
                  <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
                </button>
              </span>
            </div><!-- /input-group -->
          </li>
          <li>Wait until Spock appears telling you are done</li>
          <li>Check you <a data-hook="go-to-dashboard">Dashboard<i class="fa fa-dashboard"></i></a>, you should see installed Agent.</li>
        </ol>
        <div class="alert alert-warning">If something goes wrong, send us an email to <a href="mailto:support@theeye.io">support@theeye.io</a> indicating operating system name and version (kernel, release, distribution) and attaching the installation log file /tmp/*.theEyeInstallation.log.gz</div>
      </div>
    </div>

    <div class="row border">
      <div class="col-xs-12">
        <h4 class="blue"><i class="fa fa-windows"></i> Windows Agent Installer</h4>
        <div class="alert" style="background:#EEEEEE">The Agent was tested on Windows 2008+</div>
        <h4 class="blue">To install the agent on Windows</h4>
    		<ol>
          <li>
            Download the Agent Binaries
            <code> <a data-hook="agent-binary-download agent-binary-html"></a> </code>
            and extract it to the folder where you would like to install TheEye Agent (<code>C:/Program Files/The Eye</code>)
          </li>
          <li>Download and replace the configuration file <code>{installation folder}/config/credentials.js</code> with
            <a download="credentials.json" target="_blank" href="/api/agent/credentials">yours <i class="fa fa-download"></i></a>
          </li>
          <li>Open a <code>cmd.exe</code> <b>as Administrator</b> and change directory to the installation folder
            <pre>cd {installation folder}</pre> </li>
          <li>Run <code>installer.bat</code> <b>from console!</b>
            <pre>./installer.bat</pre></li>
          <li>Go to the <a href="/events">Dashboard <i class="fa fa-dashboard"></i></a> and check the status of the Agent</li>
  	    </ol>
      </div>
    </div>

    <div class="row border">
      <div class="col-xs-12">
        <h4 class="blue"><i class="fa fa-download"></i> Downloads Section</h4>
        <p> <a download="theeye-agent64.tar.gz" target="_blank" href="https://s3.amazonaws.com/theeye.agent/linux/theeye-agent64.tar.gz"> Linux 64bit Binary </a> </p>
        <p> <a data-hook="agent-binary-download agent-binary-html" target="_blank"></a> </p>
        <p>
          <a download="credentials.json" target="_blank" href="/api/agent/credentials">
            <span data-hook="customer-name"></span>
            Agent Credentials
          </a>
        </p>
    </div>
    </div>
  </div>
  <div data-hook="agent-not-set">The Agent is unavailable. Please, contact us!</div>
</div>
