<div>
  <div data-hook="agent-set">
    <section > <!-- INSTALLER SECTION -->
      <h3 class="blue bold">SELF-PROVIDED BOT</h3>
      <i data-hook="start-bot-help"></i>
      <div id="self-provided-installer" class="row border">
        <div data-tutorial="self-provided-onboarding" class="btn btn-default col-xs-12">
          <i class="fa theeye-robot-solid" style="    bottom: 2px; position: relative;"></i>
          <a data-hook="start-bot" href="#">Click to start a Bot</a>
        </div>
      </div>
    </section>
    <section> <!-- INSTALLER SECTION -->
      <h3 class="blue bold">INSTALLER</h3>
      <i data-hook="start-onboarding"></i>
      <div id="linux-installer" class="row border">
        <div class="col-xs-12">
          <h4 class="blue"><i class="fa fa-linux"></i> Linux Bot Installer</h4>
          <div class="alert" style="background:#EEEEEE">The Bot is fully funtional in Redhat/Centos 6+, Ubuntu 12+. It should works out of the box on every Linux with a kernel version 3.x+. For Linux with Kernel 2.x could require aditional actions.</div>
          <h4 class="blue">To install the Bot on Linux</h4>
          <ol>
            <li data-tutorial="linux-onboarding">Open a Console</li>
            <li data-tutorial="linux-onboarding">Become root. <i>NOTE: The installation script assumes that root access is granted.</i></li>
            <li data-tutorial="linux-onboarding">
              Copy and paste the following line into the console to begin the installation
              <div class="input-group">
                <input readonly type="text" id="agentCurl" class="form-control" data-hook="curl-agent">
                <span class="input-group-btn">
                  <button class="btn btn-primary clipboard-curl-agent-btn" type="button" data-clipboard-target="#agentCurl">
                    <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </li>
            <li data-tutorial="linux-onboarding">Wait until Spock appears telling you are done</li>
            <li data-tutorial="linux-onboarding">Check your <a data-hook="go-to-dashboard">Dashboard<i class="fa fa-dashboard"></i></a>, you should see the installed Bot.</li>
          </ol>
          <div class="alert alert-warning">If something goes wrong, send us an email to <a href="mailto:support@theeye.io">support@theeye.io</a> indicating operating system name and version (kernel, release, distribution) and attaching the installation log file /tmp/*.theEyeInstallation.log.gz</div>
        </div>
      </div>
      <div id="windows-installer" class="row border">
        <div class="col-xs-12">
          <h4 class="blue"><i class="fa fa-windows"></i> Windows Bot Installer</h4>
          <h4 class="blue">To install the Bot on Windows</h4>
          <ol>
            <li data-tutorial="windows-onboarding">
              Open a CMD as administrator.
            </li>
            <li data-tutorial="windows-onboarding">
              <i>NOTE: The installation script assumes that administrator access is granted and that Powershell V5.0 or greater is installed.</i>
            </li>
            <li data-tutorial="windows-onboarding">
              Copy and paste the following line into the console to begin the installation.
              <div class="input-group">
                <input readonly type="text" id="windowsAgentCurl" class="form-control" data-hook="windows-curl-agent">
                <span class="input-group-btn">
                  <button class="btn btn-primary clipboard-windows-curl-agent-btn" type="button" data-clipboard-target="#windowsAgentCurl">
                    <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </li>
            <li data-tutorial="windows-onboarding">Wait for the installer to complete all actions.</li>
            <li data-tutorial="windows-onboarding">Check you Dashboard, you should see the host reporting.</li>
          </ol>
        </div>
      </div>
      <div id="docker-installer" class="row border">
        <div class="col-xs-12">
          <h4 class="blue"><i class="fa fa-docker"></i> Docker Bot Installer</h4>
          <h4 class="blue">To run a Docker version of the Bot</h4>
          <ol>
            <li data-tutorial="docker-onboarding">Open a Console</li>
            <li data-tutorial="docker-onboarding">Become root. <i>NOTE: The installation script assumes that root access is granted.</i></li>
            <li data-tutorial="docker-onboarding">
              Copy and paste the following line into the console to begin the installation
              <div class="input-group">
                <input readonly type="text" id="dockerAgentCurl" class="form-control" data-hook="docker-curl-agent">
                <span class="input-group-btn">
                  <button class="btn btn-primary clipboard-docker-curl-agent-btn" type="button" data-clipboard-target="#dockerAgentCurl">
                    <span class="glyphicon glyphicon-copy" alt="copy to clipboard"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </li>
            <li data-tutorial="docker-onboarding">Wait for the installer to complete all actions.</li>
            <li data-tutorial="docker-onboarding">Check your <a data-hook="go-to-dashboard">Dashboard<i class="fa fa-dashboard"></i></a>, you should see the installed Bot.</li>
          </ol>
        </div>
      </div>
      <div class="row border">
        <div class="col-xs-12">
          <div class="alert alert-warning">If something goes wrong, send us an email to <a href="mailto:support@theeye.io">support@theeye.io</a> indicating operating system name and version (kernel, release, distribution) and attaching the installation log file /tmp/*.theEyeInstallation.log.gz</div>
        </div>
      </div>
      <div class="row border">
        <div class="col-xs-12">
          <h4 class="blue"><i class="fa fa-download"></i> Downloads Section</h4>
          <p> <a download="theeye-agent64.tar.gz" target="_blank" href="https://s3.amazonaws.com/theeye.agent/linux/theeye-agent64.tar.gz"> Linux 64bit Binary </a> </p>
          <p> <a data-hook="agent-binary-download agent-binary-html" target="_blank"></a> </p>
          <p>
            <a download="credentials.json" target="_blank" href="/api/agent/credentials">
              <span data-hook="customer-name"></span>
              Bot Credentials
            </a>
          </p>
        </div>
      </div>
    </section>
  </div>
  <div data-hook="agent-not-set">The Bot is unavailable. Please, contact us!</div>
</div>
