<div>
  <h3 class="blue bold">MEMBERS</h3>
  <div class="row">
    <div class="col-xs-12">
      <h4 class="pull-right cursor-pointer"><a class="blue" data-hook="invite-user"><i class="fa fa-plus"></i> Invite user</a></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div data-hook="list-container"></div>
    </div>
  </div>
</div>
