<div>
  <!-- menu -->
  <div data-hook="navbar-container"></div>
  <!-- Main  -->
  <div class="mainContainer">
    <div class="loginBox">
      <!-- show any messages that come back with authentication -->
      <!-- <% if ( typeof(errors)!="undefined" && errors.length > 0) { %>
      <div class="alert alert-danger"><%= __(errors[0])  %></div>
      <% } %> -->
      <!--  no por ahora. <a href="#" class="sign facebook"><i class="fa fa-facebook"></i>Facebook</a>
      <a href="#" class="sign twitter"><i class="fa fa-twitter"></i>Twitter</a> -->


      <!-- <a href="/auth/google"  class="sign google"><i class="fa fa-google-plus"></i>Google+</a>
      <div class="or"><span>or</span></div> -->

      <div data-hook="register-form-container">
        <h1>Register on theeye.io</h1>

        <div data-hook="register-form" class="register-form"></div>
        <button data-hook="start-register">Register</button>
      </div>
      <div class="result-container" data-hook="result-container">
        <h1>Congratulations</h1>
        <h2>Activation email sent. Please check your inbox to fully activate your account.</h2>
        <a class='login-back' href='/login'>Back to login</a>
      </div>
    </div>
  </div>
</div>
