<div class="loginBox">
  <div data-hook="register-form-container">
    <h1>Register on theeye.io</h1>

    <div data-hook="register-form" class="register-form"></div>
    <button data-hook="start-register">Register</button>
    <a class='login-back' href='/login'>Back to login</a>
  </div>
  <div class="result-container" data-hook="result-container">
    <h1>Thank You For Registering!</h1>
    <h2>Please check your inbox, an email is on the way.</h2>
    <span>We just sent you an email that contains an activation link. All you to do is open it and click the link to complete the registration and start automating with TheEye.</span>
    <a class='login-back' href='/login'>Back to login</a>
  </div>
</div>
