<div class="modal fade droptarget" id="script-modal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!--.modal-header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Script</h4>
      </div>
      <!--.modal-header-->
      <!--.modal-body-->
      <div class="modal-body">
        <form data-hook="script-form" class="form-horizontal">

          <div class="form-group">
            <label for="filename" class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <input name="filename" class="form-control" id="filename" placeholder="auto">
            </div>
            <div class="col-sm-offset-3 col-sm-9" style="color:grey">
              filename: <span id="filenamePreview"></span>
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <textarea data-hook="description" name="description" class="form-control" id="description" placeholder="description"></textarea>
            </div>
          </div>

          <div class="form-group">
           <label for="description" class="col-sm-3 control-label">Editor/Upload</label>
            <div class="col-sm-9">
              <label class="radio-inline">
                <input type="radio" checked name="live-edit" data-hook="live-edit" value="editor"> Live editor
              </label>
              <label class="radio-inline">
                <input type="radio" name="live-edit" data-hook="live-edit" value="fileupload"> File upload
              </label>
              <label class="radio-inline">
                <input type="radio" name="live-edit" data-hook="live-edit" value="gist"> From gist
              </label>
            </div>
          </div>

          <div class="form-group" style="display:none">
            <label for="public" class="col-sm-3 control-label">Share this script?</label>
            <div class="col-sm-9">
              <div>
                <label class="radio-inline tooltiped"
                  title="Did you come up with a script that could work for others? Be it a
                  simple process restart or a complex script, you can share it with other
                  DevOps marking it as public">
                  <input type="radio" name="public" data-hook="public" value="true">
                  Yes. Make it public
                </label>
                <label class="radio-inline tooltiped" title="No reusability here, only for myself">
                  <input type="radio" name="public" data-hook="public" value="false" checked>
                  No. Keep it private
                </label>
              </div>
            </div>
          </div>

          <div class="form-group hidden-container option" data-hook="gist-container">
            <div class="col-sm-12">
              <div class="input-group">
                <input type="text" class="form-control tooltiped" id="gist-url" placeholder="gist url..."
                  title="Paste a gist url (or just the path to the gist: username/jd293dj2938dj29). Must exist on gist.github.com">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-download"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </div>
          </div>

          <div class="col-sm-12">
            <div class="form-group hidden-container option" data-hook="fileupload-container">
              <!-- <div class="dropzone"></div> -->
              <!-- <label for="fileChooser">Choose file</label> -->
              <input type="file" id="fileChooser">
            </div>
          </div>

          <div class="form-group option" data-hook="editor-mode-container">
            <label for="editor-mode" class="col-sm-3 control-label">Interpreter <a href="#" class="example-code">(example)</a></label>
            <div class="col-sm-9">
              <select data-hook="editor-mode" id="editor-mode">
                <option value="javascript">node (.js)</option>
                <option value="sh">bash (.sh)</option>
                <option value="batchfile">batch/cmd (.bat)</option>
                <option value="powershell">powershell (.ps1) </option>
                <option value="python">python (.py)</option>
                <option value="php">php (.php)</option>
              </select>
            </div>
          </div>

          <div class="form-group option" data-hook="editor-container">
            <div class="col-sm-12">
              <div class="editor" id="ace-editor"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <span class="tooltiped glyphicon glyphicon-question-sign"
                title=" Successful accepted results : 'ok' , 'success', 'normal'.
                Failure accepted results : 'fail' , 'failure', 'error' "
                style="cursor:help" >
              </span>
              </div>
          </div>

          <input type="hidden" value="" data-hook="script-id"/>
        </form>
      </div>
      <!--.modal-body-->

      <!--.modal-foooter-->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-hook="submit-form">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <!--.modal-foooter-->

    </div><!--.modal-content-->

  </div><!--.modal-dialog-->

</div><!--.modal-->
