<div>
  <h3 class="blue bold">CREDENTIALS</h3>
  <div class="row border">
    <div class="col-xs-12">
      <h4 class="blue"><i class="fa fa-user"></i> User Profile</h4>

      <div class="row">
        <strong class="col-sm-3">name</strong>
        <span data-hook="account-name" class="col-sm-9"></span>
      </div>
      <div class="row">
        <strong class="col-sm-3">username</strong>
        <span data-hook="account-username" class="col-sm-9"></span>
      </div>
      <div class="row">
        <strong class="col-sm-3">email</strong>
        <span data-hook="account-email" class="col-sm-9"></span>
      </div>
      <a class="blue btn btn-default btn-lg pull-right" data-hook="change-password">Change password</a>
    </div>
  </div>
  <div class="row border" data-hook="connect-section">
    <div class="col-xs-12">
      <h4 class="blue"><i class="fa fa-link"></i> Connect with:</h4>
      <div data-hook="google-connection-container"></div>
    </div>
  </div>
</div>
