<div data-hook="menu" class="eyemenu-panel eyemenu-panel-left">
  <!-- PROFILE MENU HEADER { -->
  <div data-hook="profile-container" class="eyemenu-top-panel">
    <div data-hook="session-customer"></div>

    <div data-hook="customers-toggle" class="eyemenu-switch-panels">
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
  </div>
  <!-- } END PROFILE MENU HEADER -->
  <div class="eyemenu-bot-panel">
    <ul data-hook="customers-container" class="eyemenu-links eyemenu-clients">
      <div class="customers-search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input autocomplete="off" data-hook="customers-input" class="customers-input" placeholder="Search">
      </div>
    </ul>
    <!-- LINKS CONTAINER { -->
    <ul data-hook="links-container" class="eyemenu-links eyemenu-actions">
      <li><a href="/dashboard" class="eyemenu-icon eyemenu-dashboard"> Home </a></li>
      <span class="charts-link"></span>
      <span class="default-links"></span>
      <li><a href="/help" class="eyemenu-icon eyemenu-help"> Help </a></li>
    </ul>
    <!-- } END LINKS CONTAINER -->
  </div>
</div>
