@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.fuzzy-fadein {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
.fuzzy-fadeout {
  -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeout 1s; /* Firefox < 16 */
      -ms-animation: fadeout 1s; /* Internet Explorer */
       -o-animation: fadeout 1s; /* Opera < 12.1 */
          animation: fadeout 1s;
}

.rotate {
  -moz-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.rotate.rotate-90 {
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}

.rotate.rotate-180 {
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}
