/* header styles */
.navbar-eyemenu {background:#fff}
.navbar-eyemenu .eyemenu-panel-launcher {cursor:pointer;color:#23324C;font-size:24px;}
.navbar-eyemenu .eyemenu-panel-innerlauncher {
  height:54px;
  background: #1a2538;
  width: 100%;
  top: 0px;
  position: relative;
  left: 0;
  color: #23324C;
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.navbar-eyemenu .eyemenu-panel-innerlauncher i { color: #fff; padding-left:8px; }
.navbar-eyemenu .navbar-brand {border:none;height:auto;padding:10px 15px;}

.navbar-eyemenu input::-webkit-input-placeholder {color: #23324C}
.navbar-eyemenu input::-moz-placeholder {color: #23324C}
.navbar-eyemenu input:-ms-input-placeholder {color: #23324C}
.navbar-eyemenu input:-moz-placeholder {color: #23324C}
.navbar-eyemenu .eyemenu-search-panel-desktop input {padding:6px 48px;color:#23324C;border:none;font-size:21px;width:75%;outline:none!important;margin-top:14px;background:none;border-bottom:1px solid;}
.navbar-eyemenu .eyemenu-search-panel-desktop .fa-search {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 24px;
  padding: 11px 15px 11px 0;
  color: #23324C;
}
.navbar-eyemenu .eyemenu-search-panel-desktop .fa-times-circle {
  position: absolute;
  right: 24%;
  top: 12px;
  font-size: 24px;
  padding: 11px 15px 11px 0;
  color: #23324C;
  cursor: pointer;
}
.navbar-eyemenu .eyemenu-search-panel-desktop .fa-times-circle:hover {
  color: #23324C;
}
.navbar-eyemenu .navbar-right {margin:0;position:relative}
.navbar-eyemenu .eyemenu-search-panel-clear {position:absolute;right:0;top:0;font-size:24px;color:#ccc;padding:11px 15px;cursor:pointer;color:#005580;display:none}

.license-header {
  position: absolute;
  right: 0px;
  padding: 0px;
}

.license-header p{
  max-width: unset;
  margin-bottom: 0px;
}

/* responsiveness */
@media (max-width: 767px) {
	.navbar-eyemenu .eyemenu-search-panel-mobile {position:fixed;top:0;left:0;right:0;background:#fff;height:50px;}
	.navbar-eyemenu .eyemenu-search-panel-mobile input {padding:12px;color:#23324C;border:none;font-size:18px;outline:none!important;margin-left:36px;width:90%}
	.navbar-eyemenu .eyemenu-search-panel-mobile .fa-arrow-left {position:absolute;left:0;top:0;color:#ccc;padding:17px;cursor:pointer;color:#23324C}
  .navbar-eyemenu .eyemenu-search-panel-mobile .fa-times-circle {
    position: absolute;
    right: 1%;
    top: 3px;
    font-size: 24px;
    padding: 11px 15px 11px 0;
    color: #23324C;
    cursor: pointer;
  }
  .navbar-eyemenu .eyemenu-search-panel-mobile .fa-times-circle:hover {
    color: #23324C;
  }
	.navbar-eyemenu .eyemenu-search-icon.hidden-sm {padding:10px 15px 10px 15px;font-size:21px;float:right;top:0;right:0;color:#ccc;cursor:pointer;color:#23324C}
	.navbar-eyemenu .eyemenu-panel-launcher {padding:10px 15px 10px 15px;font-size:21px;}
	.navbar-eyemenu .eyemenu-panel-launcher.eyemenu-panel-innerlauncher {margin:0;}

  .navbar-eyemenu .navbar-brand {padding:9px 10px;}
  .navbar-eyemenu .navbar-brand>img {height:32px;}
}

@media (min-width: 768px) {
  .navbar-eyemenu .navbar-right {right:20px;}
	.navbar-eyemenu .eyemenu-panel-launcher {padding:19px;}
  .navbar-eyemenu .eyemenu-panel-launcher.burger-button {padding-left:31px;}
	.navbar-eyemenu .hidden-sm {display:none!important}
	.navbar-eyemenu .eyemenu-search-panel-clear {right:15%;top:12px}
  .navbar-eyemenu .navbar-brand>img {height:52px;}
  .navbar-eyemenu .navbar-buttons {left: 10px;position: relative;}
}
