/* Roboto Thin */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Roboto Thin italic */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Roboto Light */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Roboto Light italic */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Roboto Regular */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Roboto Regular italic */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-RegularItalic.ttf") format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Roboto Medium */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Roboto Medium italic */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Roboto Bold */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Roboto Bold italic */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-BoldItalic.ttf") format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* Roboto Black */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Roboto Black italic */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format('truetype');
    font-weight: 900;
    font-style: italic;
}
