@font-face {
  font-family: 'theeye';
  src: url('../fonts/theeye.eot?qgy6n9'),
       url('../fonts/theeye.eot?qgy6n9#iefix') format('embedded-opentype'),
       url('../fonts/theeye.ttf?qgy6n9') format('truetype'),
       url('../fonts/theeye.woff?qgy6n9') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'theeye' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* position: relative; top: -4px; */
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-and-running:before { content: "\e900"; }
.icon-switch:before { content: "\e901"; }
.icon-add:before { content: "\e902"; }
.icon-settings:before { content: "\e903"; }
.icon-search:before { content: "\e904"; }
.icon-play:before { content: "\e905"; }
.icon-bold-arrow-r:before { content: "\e906"; }
.icon-bold-arrow-d:before { content: "\e907"; }
.icon-bold-arrow-up:before { content: "\e908"; }
.icon-bold-arrow-l:before { content: "\e909"; }
.icon-light-arrow-r:before { content: "\e90a"; }
.icon-light-arrow-up:before { content: "\e90b"; }
.icon-light-arrow-d:before { content: "\e90c"; }
.icon-light-arrow-l:before { content: "\e90d"; }
.icon-interactar:before { content: "\e90e"; }
.icon-cloud:before { content: "\e90f"; }
.icon-tool:before { content: "\e910"; }
.icon-script:before { content: "\e911"; }
.icon-stats:before { content: "\e915"; }
.icon-edit:before { content: "\e916"; }
.icon-delete:before { content: "\e917"; }
.icon-run-task:before { content: "\e918"; }
.icon-The-eye-icons3-26:before { content: "\e919"; }
