<!-- DROPDOWN BUTTON -->
<div class="dropdown">
  <span id="dropdownMenu1"
    data-toggle="dropdown"
    aria-expanded="true"
    class="btn btn-primary simple-btn dropdown-toggle"
    data-placement="right"
    title="Create"
    aria-label="Center Align">
    <span class="glyphicon glyphicon-plus"></span>
    <i class="menu-title-desktop">New Task</i>
  </span>
  <ul class="dropdown-menu"
    role="menu"
    aria-labelledby="dropdownMenu1"
    style="min-width: 120px">
    <li role="presentation">
      <a role="menuitem"
        tabindex="-1"
        class="menu-create-button"
        data-hook="create-scraper-task"
        data-action="create">
        WEB/API Request
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem"
        tabindex="-1"
        class="menu-create-button"
        data-toggle="modal"
        data-target="#create-task">
        Script
      </a>
    </li>
  </ul>
  <a class="btn btn-primary" target="_blank" href="/admin/scheduler">
    <span class="glyphicon glyphicon-calendar"></span>
    <i class="menu-title-desktop">Schedule View</i>
  </a>
</div>
<!-- /DROPDOWN BUTTON -->
