
[data-component=jobs-list-component] {
  //padding-top: 10px;
  //padding-bottom: 10px;

  .header-container {
    background-color: #23324C;
    min-height: 40px;

    h3 {
      padding:10px 10px 10px 0px;
      margin-bottom: 5px;
      font-size: 14px;
      width: 100%;

      .header-title {
        text-align: left;
        padding: 3px;
        height: 34px;
      }

      div.buttons-container {
        float: right;

        span.delete-jobs-button {
          button {
            width: 36px;
            height: 34px;
          }
        }
      }
    }
  }
}
