
.jobs-list-component {
  .title-container {
    background-color: #23324C;
    min-height: 40px;

    h3 {
      padding:10px;
      margin-bottom: 5px;
      font-size: 14px;
      width: 100%;

      span {
        float: left;
      }

      div.buttons-container {
        float: right;
      }
    }
  }
}
