<div>
  <div data-hook="agent-set">
    <h3 class="blue bold">INTEGRATIONS</h3>
    <section data-hook="integrations-container">

      <div class="row border">
        <div class="col-xs-6">
          <span>Kibana</span>
        </div>
        <div class="col-xs-4">
          <span class="orange" data-hook="kibana-enabled"><a href="/admin/charts">Enabled</a></span>
          <span data-hook="kibana-disabled">Disabled</span>
        </div>
        <div class="col-xs-2">
          <div class="pull-right action-icons">
            <span><i class="fa fa-edit blue" data-hook="edit-kibana"></i></span>
          </div>
        </div>
      </div>

      <div class="row border">
        <div class="col-xs-6">
          <span>Elasticsearch</span>
        </div>
        <div class="col-xs-4">
          <span class="orange" data-hook="elasticsearch-enabled">Enabled</span>
          <span data-hook="elasticsearch-disabled">Disabled</span>
        </div>
        <div class="col-xs-2">
          <div class="pull-right action-icons">
            <span><i class="fa fa-edit blue" data-hook="edit-elasticsearch-url"></i></span>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>
