.task-type-selection {

  i.icons { color: #fff; border-radius: 50%; font-size: 2em; padding: 10px; }

  i.icons.icons-script { background-color: #c6639b }
  i.icons.icons-scraper { background-color: #158df9 }
  i.icons.icons-approval { background-color: #aaa }

  h1 { margin: 0; padding: 20px; font-size: 1.1em; }
  h2 { margin: 0; padding: 20px; font-size: 1em; }

}
