<div class="pull-left">
	<div class="progress progress-bar-vertical">
		<div data-hook="percent" class="progress-bar">
			<span data-hook="percent_tag"></span>%
		</div>
	</div> 
	<span data-hook="tag" class="title"></span>                
</div>
