
.template-configs .list-group-item { padding:5px; }
.template-configs .list-group-item>i { float:right; cursor:pointer; margin-left:5px; }
.template-configs .list-group>h3 {
  background-color: #23324C;
  margin: 0;
  padding: 6px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.template-configs div.toggle {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.template-configs div.configs {
  border: solid 1px #ddd;
  max-height: 200px;
  overflow-y: scroll;
  padding: 5px;
}

.template-configs div.configs ul.list-group.empty>h3 {
  background-color: #ddd;
}
