<section>
    <section>
      <h3><i class="fa fa-linux"></i> Linux Agent Installer</h3>

      <div class="alert" style="background:#FFFFFF">The Agent was tested on Centos 7+, Ubuntu 14+. It should works out of the box on every Linux with a kernel version 3.x+</div>

      Run the following command using your favourite shell to install the Agent<br/><br/>
      <div class="input-group">
        <input readonly type="text" id="agentCurl" class="form-control" data-hook="curl-agent" value="<%= agent.curl %>">
        <span class="input-group-btn">
          <button class="btn btn-primary clipboard-btn" type="button"
            data-clipboard-target="#agentCurl">
            <span class="fa fa-clipboard" alt="copy to clipboard"></span>
          </button>
        </span>
      </div><!-- /input-group -->
    </section>

    <section>
      <h3><i class="fa fa-windows"></i> Windows Agent Installer</h3>

      <div class="alert" style="background:#FFFFFF">The Agent was tested on Windows 2012 and Windows 2010</div>

      <p>To install the agent on Windows</p>
      <% var binurl = agentBinary ? agentBinary.url : '/error' %>
      <% var binname = agentBinary ? agentBinary.name : 'error' %>
			<ol>
        <li>
          Download the Agent Binaries 
          <code>
            <a href="<%= binurl %>">
              <%= binname %> <i class="fa fa-download"></i>
            </a>
          </code>
          into the folder where you would like to install TheEye Agent (<code>C:/Program Files/The Eye</code>)
        </li>
        <li>Download and replace the configuration file <code>{installation folder}/config/credentials.js</code> with 
          <a download="credentials.json" target="_blank" href="/apiv2/agent/credentials">yours <i class="fa fa-download"></i></a>
        </li>
        <li>Open a <code>cmd.exe</code> <b>as Administrator</b> and change directory to the installation folder
          <pre>cd {installation folder}</pre> </li>
        <li>Run the self-extractor <code>theEyeInstaller.exe</code> <pre>./<%= binname %></pre> </li>
        <li>Run <code>installer.bat</code> <b>from console!</b>
          <pre>./installer.bat</pre></li>
        <li>Go to the <a href="/events">Dashboard <i class="fa fa-dashboard"></i></a> and check the status of the Agent</li>
			</ol>
      <div>
        <h3><i class="fa fa-download"></i> Downloads Section</h3>
        <p>
          <a download="theeye-agent64.tar.gz" target="_blank" href="https://s3.amazonaws.com/theeye.agent/linux/theeye-agent64.tar.gz"> Linux 64bit Binary </a>
        </p>
        <p>
          <a download="<%= binname %>" target="_blank" href="<%= binurl %>"> Windows 64bit Self-Extractor </a>
        </p>
        <p>
          <a download="credentials.json" target="_blank" href="/apiv2/agent/credentials">
            <%= req.session.customer[0].toUpperCase() + req.session.customer.slice(1,req.session.customer.length) %>
            Agent Credentials
          </a>
        </p>
      </div>
    </section>
    <!-- ERROR. IF NO AGENT AVAILABLE : -->
    <div>The Agent is unavailable. Please, contact us!</div>
</section>
