<div>
  <p>Warning!</p>
  <p>You are customizing a monitor that belongs to a template,
    changes will be only applied to this monitor.</p>
  <p>Please update your template to make changes available for all.</p>
</div>
